<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<head>
</head>
<body>
	<div th:fragment="headerFragment" class="layout_header" style="border-bottom: 1px solid rgba(187,187,187,.3); ">

		<div style="margin: 0 auto; width: 1200px; height: 80px; background-color: white;">
			<!-- header 실제 내용 -->
			<nav style="display: flex; height: 100%; justify-content: space-between">
				<div style="margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center;">
					<a href="/" style="display: flex; justify-content: center; align-items: center">
						<div class="logo-image-container">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="rgb(102, 102, 255)" id="hd_svg">
								<g color="rgb(102, 102, 255)" weight="regular">
									<path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.5a8.3,8.3,0,0,1,2.6-5.9l80-72.7a8,8,0,0,1,10.8,0l80,72.7a8.3,8.3,0,0,1,2.6,5.9V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z"
										fill="none" stroke="rgb(102, 102, 255)" stroke-linecap="round"
										stroke-linejoin="round" stroke-width="16" />
								</g>
							</svg>
						</div>
						<h2 class="logo-font" style="width: 60px; ">semo</h2>
					</a>
				</div>

				<div style="display: flex; justify-content: space-between; width: 30%;">
					<div class="nav-elems" style="margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 20%;">
						<a class="nav-font" href="/mytrip">예약 내역</a>
					</div>
					<div class="nav-elems" style="margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 20%;">
						<a id="myInfoBtn" class="nav-font" href="/mypage">내 정보</a>
					</div>
					<div name="myBusinessBtn" class="nav-elems" style="margin: 0; padding: 0; display: none; flex-direction: column; justify-content: center; align-items: center; width: 20%;">
						<a id="myBusinessBtn" class="nav-font" >내 업체</a>
					</div>
					<div style="margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 20%;">
						<span id="loginBtn" class="nav-font">로그인</span>
					</div>
				</div>

			</nav>
		</div>

<!--		<script th:inline="javascript">-->
<!--			const loginInfo = [[${session.login}]];-->
<!--		</script>-->
		<script src="/js/header.js"></script>

	</div>

</body>

</html>