<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<head>
</head>
<div th:fragment="headerFragment">


	<div class="header_section">
		<div class="header_topbar">


			<div class="topbar_logo">
				<a href=""class="logo_button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
					focusable="false" color="rgb(102, 102, 255)"
					style="user-select: none; cursor:pointer;width: 32px; height: 32px; display: inline-block; fill: rgb(102, 102, 255); flex-shrink: 0; cursor: auto;">
					<g color="rgb(102, 102, 255)" weight="regular">
					<path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.5a8.3,8.3,0,0,1,2.6-5.9l80-72.7a8,8,0,0,1,10.8,0l80,72.7a8.3,8.3,0,0,1,2.6,5.9V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z"
						fill="none" stroke="rgb(102, 102, 255)" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="16"></path></g></svg>
				<h2 class="font_topbar_bold" style='display:flex; margin:0;font-size: 16px;font-weight:500;'>semo</h2></a>
			</div>
			<div class="font_topbar_medium">예약 내역</div>
			<div class="font_topbar_medium">내 정보</div>
			<div class="font_topbar_medium">로그인</div>
		</div>
	</div>






</div>
</html>