<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<meta charset="utf-8">
<title>semo</title>

</head>
<body>
	<div layout:fragment="content">


<div id="main" >
	<div data-framer-generated="true" class="framer-x1fTc" style="display:contents">
		<div class="framer-13lwyks" style="min-height:100%;width:auto">

			<div class="framer-8miz73">
				<div class="framer-1kup0uk">
					<div class="framer-c8rj46">
						<div class="framer-htln4a">
							<div class="framer-1v66mht" >
								<a class="framer-14m2qg2" href="./">
								<div class="framer-1tpzcp8-container">
									<div style="display:contents">
									
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
					focusable="false" color="rgb(102, 102, 255)"
					id="pcf_svg1">
					<g color="rgb(102, 102, 255)" weight="regular">
					<path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.5a8.3,8.3,0,0,1,2.6-5.9l80-72.7a8,8,0,0,1,10.8,0l80,72.7a8.3,8.3,0,0,1,2.6,5.9V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z"
						fill="none" stroke="rgb(102, 102, 255)" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="16"></path></g></svg>
									
									</div>
								</div>
								<div class="framer-1gllh7z" id="login_div3">
									<h2 id="pcf_h1" class="framer-text">semo</h2>
								</div>
								</a>
							</div>
							<div class="framer-18in9si">
								<div class="framer-kmxrt0" data-border="true">
								</div>
							</div>
							<div class="framer-14ysck3">
								<div class="framer-qbmzma" >
									<div id="rd_div5" data-framer-background-image-wrapper="true">
										<div id="sns_div2">
											<img src="https://framerusercontent.com/images/7EFQMjmziUvq7agxqHGiSsv3U8.png" alt="" id="paycheck_img1">
										</div>
									</div>
								</div>
							</div>
							<div class="framer-1ifxurp" >
								<div class="framer-24vuki">
									<a class="framer-18rajwz" data-border="true" href="/">
									<div class="framer-1a3n19n">
										<div class="framer-1s972q1" id="pcf_div4">
											<p id="pcf_p7" class="framer-text">
												홈으로
											</p>
										</div>
									</div>
									</a><a class="framer-1j5os0u" href="/login">
									<div class="framer-hh2fbj">
										<div class="framer-yo6fkr" id="pcf_div4">
											<p id="sns_font2" class="framer-text">
												로그인
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-1ezaysa">
									<div class="framer-fda9ul" data-border="true">
									</div>
								</div>
								<div class="framer-15f52n1" >
									<div class="framer-bcnwcr">
										<div class="framer-a47ydh" id="pcf_div4">
											<p id="jnfn_p1" class="framer-text">
												이한빈
											</p>
										</div>
										<div class="framer-fv4ic8" id="pcf_div4">
											<p id="jnfn_p2" class="framer-text">
												님의 회원가입을 축하합니다.
											</p>
										</div>
									</div>
									<div class="framer-1xfhdbx">
										<div class="framer-17huojh" id="pcf_div4">
											<p id="jnfn_p2" class="framer-text">
												알차고 실속있는 서비스로 찾아뵙겠습니다.
											</p>
										</div>
									</div>
								</div>
								<div class="framer-154tzn0" >
									<div class="framer-h167nl" id="pcf_div4">
										<p id="jnfn_p3" class="framer-text">
											회원가입이 완료 되었습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

	</div>
</body>
</html>