<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<meta charset="utf-8">
<title>Insert title here</title>

</head>
<body>
	<div layout:fragment="content">


<div id="main" data-framer-hydrate-v2="{'routeId':'Cj8mxjd43'}" data-framer-ssr-released-at="2022-11-09T12:05:04.254Z" data-framer-page-optimized-at="2022-11-09T16:04:57.111Z">
	<div data-framer-generated="true" class="framer-x1fTc" style="display:contents">
		<div class="framer-13lwyks" style="min-height:100%;width:auto">

			<div class="framer-8miz73">
				<div class="framer-1kup0uk">
					<div class="framer-c8rj46">
						<div class="framer-htln4a">
							<div class="framer-1v66mht" data-framer-name="마크" name="마크">
								<a class="framer-14m2qg2" data-framer-name="고객센터" name="고객센터" href="./">
								<div class="framer-1tpzcp8-container">
									<div style="display:contents">
									
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
					focusable="false" color="rgb(102, 102, 255)"
					style="user-select: none; cursor:pointer;width: 100%; height: 100%; display: inline-block; fill: rgb(102, 102, 255); flex-shrink: 0; cursor: auto;">
					<g color="rgb(102, 102, 255)" weight="regular">
					<path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.5a8.3,8.3,0,0,1,2.6-5.9l80-72.7a8,8,0,0,1,10.8,0l80,72.7a8.3,8.3,0,0,1,2.6,5.9V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z"
						fill="none" stroke="rgb(102, 102, 255)" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="16"></path></g></svg>
									
									</div>
								</div>
								<div class="framer-1gllh7z" style="outline:none;display:flex;flex-direction:column;justify-content:flex-end;flex-shrink:0;transform:translateX(-50%)" data-framer-component-type="RichTextContainer">
									<h2 style="--font-selector:R0Y7TWFucm9wZS04MDA=;--framer-font-family:'Manrope', serif;--framer-font-size:20px;--framer-font-weight:800;--framer-letter-spacing:1px;--framer-line-height:1em;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">semo</h2>
								</div>
								</a>
							</div>
							<div class="framer-18in9si" data-framer-name="중간선" name="중간선">
								<div class="framer-kmxrt0" data-border="true">
								</div>
							</div>
							<div class="framer-14ysck3">
								<div class="framer-qbmzma" data-framer-name="check_purple" name="check_purple">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/7EFQMjmziUvq7agxqHGiSsv3U8.png" alt="" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
								</div>
							</div>
							<div class="framer-1ifxurp" data-framer-name="회원 가입 전체 툴" name="회원 가입 전체 툴">
								<div class="framer-24vuki" data-framer-name="홈 / 로그인 버튼" name="홈 / 로그인 버튼">
									<a class="framer-18rajwz" data-border="true" href="/semo">
									<div class="framer-1a3n19n" data-framer-name="이메일" name="이메일">
										<div class="framer-1s972q1" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												홈으로
											</p>
										</div>
									</div>
									</a><a class="framer-1j5os0u" href="/semo/login">
									<div class="framer-hh2fbj" data-framer-name="이메일" name="이메일">
										<div class="framer-yo6fkr" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												로그인
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-1ezaysa" data-framer-name="중간선" name="중간선">
									<div class="framer-fda9ul" data-border="true">
									</div>
								</div>
								<div class="framer-15f52n1" data-framer-name="회원 가입 완료 안내글" name="회원 가입 완료 안내글">
									<div class="framer-bcnwcr">
										<div class="framer-a47ydh" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												이한빈
											</p>
										</div>
										<div class="framer-fv4ic8" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center" class="framer-text">
												님의 회원가입을 축하합니다.
											</p>
										</div>
									</div>
									<div class="framer-1xfhdbx">
										<div class="framer-17huojh" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center" class="framer-text">
												알차고 실속있는 서비스로 찾아뵙겠습니다.
											</p>
										</div>
									</div>
								</div>
								<div class="framer-154tzn0" data-framer-name="회원가입" name="회원가입">
									<div class="framer-h167nl" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
											회원가입이 완료 되었습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="overlay">
		</div>
	</div>
</div>
<div id="svg-templates" style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0">
</div>
	</div>
</body>
</html>