<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<meta charset="utf-8">
<title>Insert title here</title>

</head>
<body>
	<div layout:fragment="content">

			<div id="main" data-framer-hydrate-v2="{'routeId':'oSqiE1i1k'}" data-framer-ssr-released-at="2022-11-09T12:05:04.254Z" data-framer-page-optimized-at="2022-11-09T16:04:57.038Z">
	<div data-framer-generated="true" class="framer-2Gxmt framer-hoagE" style="display:contents">
		<div class="framer-2iyou3" style="min-height:100%;width:auto">
			<a class="framer-1kffqud" href="./">
			<div class="framer-16nrqrv-container">
				<div style="display:contents">
				</div>
			</div>
			<div class="framer-o8p1lz" style="outline:none;display:flex;flex-direction:column;justify-content:flex-end;flex-shrink:0;transform:translateY(-50%)" data-framer-component-type="RichTextContainer">
				<h2 style="--font-selector:R0Y7TWFucm9wZS04MDA=;--framer-font-family:'Manrope', serif;--framer-font-weight:800;--framer-letter-spacing:1px;--framer-line-height:1em;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">semo</h2>
			</div>
			</a>
			<div class="framer-kthkgp">
				<div class="framer-1sdyb7r">
					<div class="framer-26sr49" data-framer-name="회원가입 버튼" name="회원가입 버튼">
						<a class="framer-atwnct" href="/semo/join/fine">
						<div class="framer-1g65q9g" data-framer-name="이메일" name="이메일">
							<div class="framer-zcubmh" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:17px;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
									회원 가입하기
								</p>
							</div>
						</div>
						</a>
					</div>
					<div class="framer-nu8bna" data-framer-name="약관동의 input" name="약관동의 input">
						<div class="framer-o5fxyp">
						</div>
						<div class="framer-1pzmg15">
							<div class="framer-1rj5iat" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
									약관동의
								</p>
							</div>
						</div>
						<div class="framer-160ylao" data-border="true">
							<div class="framer-ka80sb">
								<div class="framer-133kf3j">
									<div class="framer-eejoxi">
									</div>
								</div>
								<div class="framer-4ffou3">
									<div class="framer-7g7os8" data-border="true">
									</div>
									<div class="framer-1ozyvtm" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
											전체동의
										</p>
									</div>
									<div class="framer-86md3o" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:10px;--framer-text-alignment:center;--framer-text-color:rgba(102, 102, 102, 0.8)" class="framer-text">
											선택항목에 대한 동의 포함
										</p>
									</div>
								</div>
								<div class="framer-1eisnh8">
									<div class="framer-1j9vxui">
										<div class="framer-1y2tq8y" data-border="true">
										</div>
										<div class="framer-yffryv" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
												만 14세 이상입니다.
											</p>
										</div>
										<div class="framer-50vcyh" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												(필수)
											</p>
										</div>
									</div>
									<div class="framer-1033grr">
										<div class="framer-1itgopi" data-border="true">
										</div>
										<div class="framer-fp2wkk" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
												이용약관
											</p>
										</div>
										<div class="framer-1xa2sa6" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												(필수)
											</p>
										</div>
									</div>
									<div class="framer-18fe54n">
										<div class="framer-osktwv" data-border="true">
										</div>
										<div class="framer-11trt30" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
												개인정보수집 및 이용동의
											</p>
										</div>
										<div class="framer-6v635l" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												(필수)
											</p>
										</div>
									</div>
									<div class="framer-b8nt0d">
										<div class="framer-1kiluow" data-border="true">
										</div>
										<div class="framer-iyzuz0" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
												개인정보 마케팅 활용 동의
											</p>
										</div>
										<div class="framer-cpqy0v" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(153, 153, 153)" class="framer-text">
												(선택)
											</p>
										</div>
									</div>
									<div class="framer-1h1y6j2">
										<div class="framer-obphk6" data-border="true">
										</div>
										<div class="framer-927s7h" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
												이벤트, 쿠폰, 특가 알림 메일 및 SMS 등 수신
											</p>
										</div>
										<div class="framer-10c8q1d" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(153, 153, 153)" class="framer-text">
												(선택)
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="framer-1tyalbe" data-framer-name="휴대전화input" name="휴대전화input">
						<div class="framer-f23zok">
							<div class="framer-su9g17">
								<div class="framer-ay4duj" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
										휴대전화
									</p>
								</div>
							</div>
							<div class="framer-10tys98">
								<div class="framer-1emz3r7" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgba(102, 102, 102, 0.8)" class="framer-text">
										'-' 를 제외한 번호 8자리를 입략해주세요.
									</p>
								</div>
							</div>
						</div>
						<div class="framer-t8ecku">
							<div class="framer-hfsbg3" data-border="true">
								<div class="framer-5ythjt" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left;--framer-text-color:rgb(102, 102, 102)" class="framer-text">
										(+82) 010 -
									</p>
								</div>
								<div class="framer-1gkhqio" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left;--framer-text-color:rgba(187, 187, 187, 0.7)" class="framer-text">
										 전화번호 입력
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="framer-erfgql">
						<div class="framer-hgz8gr" data-framer-name="닉네임 input" name="닉네임 input">
							<div class="framer-1aszz9s">
								<div class="framer-4wf9fw">
									<div class="framer-1l2mibm" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
											닉네임
										</p>
									</div>
								</div>
								<div class="framer-1b2sezu">
									<div class="framer-bbuhlk" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgba(102, 102, 102, 0.8)" class="framer-text">
											다른 유저와 곂치지 않도록 입력해주세요. (2~15자)
										</p>
									</div>
								</div>
							</div>
							<div class="framer-n0je14">
								<div class="framer-1n903k">
									<div class="framer-1swcrma" data-border="true">
										<div class="framer-n3hek4" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left;--framer-text-color:rgba(187, 187, 187, 0.7)" class="framer-text">
												별명 (2~15자)
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="framer-m0czm8" data-framer-name="비밀번호 확인 input" name="비밀번호 확인 input">
							<div class="framer-1bkow83">
								<div class="framer-1tqynpt">
									<div class="framer-13j3urs" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
											비밀번호 확인
										</p>
									</div>
								</div>
							</div>
							<div class="framer-1k2dtl4">
								<div class="framer-1yr2657" data-border="true">
									<div class="framer-a6qhst" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left;--framer-text-color:rgba(187, 187, 187, 0.7)" class="framer-text">
											비밀번호 확인
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="framer-7wm2ly" data-framer-name="비밀번호 input" name="비밀번호 input">
							<div class="framer-1z0wrog">
								<div class="framer-g4zpuy">
									<div class="framer-udl3ng" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
											비밀번호
										</p>
									</div>
								</div>
								<div class="framer-6eh2s4">
									<div class="framer-12yjx5b" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgba(102, 102, 102, 0.8)" class="framer-text">
											영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.
										</p>
									</div>
								</div>
							</div>
							<div class="framer-1j8wgs6">
								<div class="framer-1ss8uln" data-border="true">
									<div class="framer-hxllfc" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left;--framer-text-color:rgba(187, 187, 187, 0.7)" class="framer-text">
											비밀번호
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="framer-pa26pd" data-framer-name="이메일 input" name="이메일 input">
							<div class="framer-kdppf4">
								<div class="framer-xl8ah7" data-framer-name="이메일" name="이메일">
									<div class="framer-1sgn7r1" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:17px;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
											이메일 인증하기
										</p>
									</div>
								</div>
							</div>
							<div class="framer-1clavjp">
								<div class="framer-1ga43ak" style="outline:none;display:flex;flex-direction:column;justify-content:center;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
										이메일
									</p>
								</div>
							</div>
							<div class="framer-ok8t4x">
								<div class="framer-9hljh9" data-border="true">
									<div class="framer-1tbnq6x" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left;--framer-text-color:rgba(187, 187, 187, 0.7)" class="framer-text">
											이메일
										</p>
									</div>
								</div>
								<div class="framer-rhxs5p">
									<div class="framer-fa8hmf" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
											@
										</p>
									</div>
								</div>
								<div class="framer-19e1iu0" data-border="true">
									<div class="framer-fwatlf" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:left" class="framer-text">
											선택해주세요
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="framer-4957c2" data-framer-name="중간선" name="중간선">
							<div class="framer-hozqj9" data-border="true">
							</div>
						</div>
						<div class="framer-1jhdnab" data-framer-name="회원가입" name="회원가입">
							<div class="framer-19gxqko" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-alignment:left;--framer-text-color:rgb(66, 66, 66)" class="framer-text">
									회원가입
								</p>
							</div>
						</div>
						<div class="framer-zfx59g" data-framer-name="sns 회원가입" name="sns 회원가입">
							<div class="framer-98zlls">
								<div class="framer-tbvffl" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 102)" class="framer-text">
										sns계정으로 간편하게 회원가입
									</p>
								</div>
							</div>
							<div class="framer-18erpjo">
								<div class="framer-18zkm3c" data-framer-name="kakaoLogo" name="kakaoLogo">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/Uoz4SWTh3gXCtuagH2SJvlD5FQ.png" alt="" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
								</div>
								<div class="framer-15v3wia" data-framer-name="naverLogo" name="naverLogo">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/BbKUuen4acP8oLqjKkLsoEjolOU.png" alt="" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="framer-bwhd3u">
						<div class="framer-1p3kv0x" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
							<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(85, 85, 85)" class="framer-text">
								이미 아이디가 있으신가요?
							</p>
						</div>
						<div class="framer-19627qu" preload="fyxHY82ZH" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
							<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:center;--framer-text-decoration:underline" class="framer-text">
								<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/semo/login">로그인</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="overlay">
		</div>
	</div>
</div>
<div id="svg-templates" style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0">
</div>



	</div>
</body>
</html>