<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>semo</title>
</head>
<body>
<div layout:fragment="content">
	<div id="main">
	<div class="framer-iXLYh framer-hoagE" style="display:contents">
		<div class="framer-72rtr7" style="min-height:100%;width:auto; top:80px;">
	
			<div class="framer-15vlh6a" >
				<div class="framer-16mjf1i" data-border="true">
					<div class="framer-qd848q">
						<div class="framer-7m68jg" >
							<div class="framer-1ery1mp" id="rd_div4">
								<p id="rv_p2" class="framer-text">
									숙소 소개
								</p>
							</div>
						</div>
						<div class="framer-1ybkvsj" >
							<div class="framer-jxqwuq"id="rd_div4">
								<p id="rv_p1" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/reservation">예약하기</a>
								</p>
							</div>
						</div>
						<div class="framer-3tp3ga" >
							<div class="framer-25c8bp"  id="rd_div4">
								<p id="rv_p1" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/hotelMap">오시는길</a>
								</p>
							</div>
						</div>
						<div class="framer-191kqg5" >
							<div class="framer-beddqf"  id="rd_div4">
								<p id="rv_p1" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/qna">문의하기</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="framer-1q0dj96">
				<div class="framer-1hftgwt">
					<div class="framer-1gh5648">
						<div class="framer-79gwid">
							<div class="framer-s3ltsv" data-framer-name="house1" name="house1">
								<div id="pcf_div2" >
									<div id="pcf_div3">
										<img src="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024" alt="" srcset="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg 1200w" sizes="min(100vw, 1200px)" id="pcf_img1">
									</div>
								</div>
							</div>
						</div>
						<div class="framer-1qlzyif" data-framer-name="house1" name="house1">
							<div id="pcf_div2">
								<div id="pcf_div3">
									<img src="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024" alt="" srcset="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg 1200w" sizes="100vw" id="pcf_img1">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="framer-136e1pk">
				<div class="framer-1dv82ul">
				</div>
			</div>
		</div>
	</div>
</div>







	</div>
	
	
</body>
</html>