<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<div id="main">
	<div class="framer-iXLYh framer-hoagE" style="display:contents">
		<div class="framer-72rtr7" style="min-height:100%;width:auto; top:80px;">
	
			<div class="framer-15vlh6a" data-framer-name="네비게이션" name="네비게이션">
				<div class="framer-16mjf1i" data-border="true">
					<div class="framer-qd848q">
						<div class="framer-7m68jg" data-framer-name="호텔 / 리조트" name="호텔 / 리조트">
							<div class="framer-1ery1mp" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
									숙소 소개
								</p>
							</div>
						</div>
						<div class="framer-1ybkvsj" data-framer-name="모텔" name="모텔">
							<div class="framer-jxqwuq" preload="n2t5x0MjM" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/reservation">예약하기</a>
								</p>
							</div>
						</div>
						<div class="framer-3tp3ga" data-framer-name="호텔 / 리조트" name="호텔 / 리조트">
							<div class="framer-25c8bp" preload="aqK1MCEZB" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/hotelMap">오시는길</a>
								</p>
							</div>
						</div>
						<div class="framer-191kqg5" data-framer-name="호텔 / 리조트" name="호텔 / 리조트">
							<div class="framer-beddqf" preload="FkrSaiL_s" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/qna">문의하기</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="framer-1q0dj96">
				<div class="framer-1hftgwt">
					<div class="framer-1gh5648">
						<div class="framer-79gwid">
							<div class="framer-s3ltsv" data-framer-name="house1" name="house1">
								<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" >
									<div style="display:contents;border-radius:inherit;pointer-events:none">
										<img src="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024" alt="" srcset="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg 1200w" sizes="min(100vw, 1200px)" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
									</div>
								</div>
							</div>
						</div>
						<div class="framer-1qlzyif" data-framer-name="house1" name="house1">
							<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0">
								<div style="display:contents;border-radius:inherit;pointer-events:none">
									<img src="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024" alt="" srcset="https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/O7CDmSodVgJv0uWmGMChnOm1yA.jpg 1200w" sizes="100vw" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="framer-136e1pk">
				<div class="framer-1dv82ul">
				</div>
			</div>
		</div>
		<div id="overlay">
		</div>
	</div>
</div>
<div id="svg-templates" style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0">
</div>







	</div>
	
	
</body>
</html>