<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Callback</title>
    <style>
        pre{
            overflow: scroll;
        }
    </style>
</head>
<body>
<h1>콜백 페이지</h1>
<pre th:text="${response}"></pre>
<a href="/semo/login">go to login page</a><br>
<li th:text="|response = ${response}|">code</li>
<li th:text="|accessTk = ${accessTk}|">code</li>
<li th:text="|refreshTk = ${refreshTk}|">code</li>
<li th:text="|response.data = ${response.data.email}|">code</li>

</body>
</html>
