<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>semo</title>
</head>
<body>
<div layout:fragment="content">
	
	
	
	
	<div id="main">
	<div data-framer-generated="true" class="framer-pXIxj" style="display:contents">
		<div class="framer-phupth" style="min-height:100%;width:auto">
			<div class="framer-nkvcx1">
				
				
		
				
				
				<div class="framer-1xq4dso">
					<div class="framer-1jr67em">
						<div class="framer-1i0tp40" >
							<a class="framer-1k9s7gg"  href="/">
							<div class="framer-1q8ptu8-container">
								<div style="display:contents">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"
					focusable="false" color="rgb(102, 102, 255)"
					id="pcf_svg1">
					<g color="rgb(102, 102, 255)" weight="regular">
					<path d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.5a8.3,8.3,0,0,1,2.6-5.9l80-72.7a8,8,0,0,1,10.8,0l80,72.7a8.3,8.3,0,0,1,2.6,5.9V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z"
						fill="none" stroke="rgb(102, 102, 255)" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="16"></path></g></svg>
								
								
								</div>
							</div>
							<div class="framer-u35j7t" id="pcf_div1" >
								<h2 id="pcf_h1" class="framer-text">semo</h2>
							</div>
							</a>
						</div>
						<div class="framer-8iri38" >
						</div>
						<div class="framer-1bj8y2x" data-border="true" >
							<div class="framer-1syzoop" data-border="true" >
								<div id="pcf_div2" data-framer-background-image-wrapper="true">
									<div id="pcf_div3">
										<img src="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg" alt="" srcset="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=4096 4096w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg 6000w" sizes="80px" id="pcf_img1">
									</div>
								</div>
							</div>
							<div class="framer-1hx8rmz" >
								<div class="framer-74nwj1">
									<div class="framer-wf8cr5" id="pcf_div4" >
										<p id="pcf_p1" class="framer-text">
											대전 광역시 유성구 궁동
										</p>
									</div>
								</div>
								<div class="framer-a6nfst">
									<div class="framer-bdin2r" id="pcf_div4" >
										<p id="pcf_p2" class="framer-text">
											Standard Twin
										</p>
									</div>
								</div>
								<div class="framer-l80vf">
									<div class="framer-i7acnd" id="pcf_div4" >
										<p id="pcf_p3" class="framer-text">
											★ 4.96
										</p>
									</div>
									<div class="framer-4lf877" id="pcf_div4" >
										<p id="pcf_p1" class="framer-text">
											(후기 21개)
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="framer-1cxyzgn" data-framer-name="회원 가입 전체 툴" name="회원 가입 전체 툴">
							<div class="framer-jtcm0m" >
								<div class="framer-hhwsos" data-border="true">
								</div>
							</div>
							<div class="framer-5d0e8x" >
								<div class="framer-1fv897e">
									<div class="framer-1thid9v" id="pcf_div4" >
										<p id="pcf_p4" class="framer-text">
											호스트
										</p>
									</div>
									<div class="framer-16rs63w" id="pcf_div4" >
										<p id="pcf_p5" class="framer-text">
											의 예약 확정이 되면 문자로 알려드릴게요!
										</p>
									</div>
								</div>
								<div class="framer-pkzsc6">
									<div class="framer-g4rq0o" id="pcf_div4" >
										<p id="pcf_p5" class="framer-text">
											알차고 실속있는 서비스로 찾아뵙겠습니다.
										</p>
									</div>
								</div>
							</div>
							<div class="framer-322v2c" >
								<div class="framer-1ubh9kv" id="pcf_div4" >
									<p id="pcf_p6" class="framer-text">
										결재가 완료 되었습니다.
									</p>
								</div>
							</div>
						</div>
						<div class="framer-1m32si3" >
							<a class="framer-1y3cr33" data-border="true" href="/">
							<div class="framer-ft3zl" >
								<div class="framer-v5e16w" id="pcf_div4" >
									<p id="pcf_p7" class="framer-text">
										홈으로
									</p>
								</div>
							</div>
							</a><a class="framer-1pronmg" href="/mytrip">
							<div class="framer-foza2j" >
								<div class="framer-ajew1e" id="pcf_div4" >
									<p id="pcf_p8" class="framer-text">
										예약 내역
									</p>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>








	</div>
	
	
</body>
</html>