<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	

	
	
	
	
	
	
	<div id="main">
	<div data-framer-generated="true" class="framer-ZFbMu framer-tXvOs framer-f1XTd framer-YMnJ1" style="display:contents">
		<div class="framer-1aagz0n" style="min-height:100%;width:auto">
	
			<div class="framer-ip9147" >
				<div class="framer-hxatrq" >
					<div class="framer-ynq0oy" data-border="true">
						<div class="framer-1brfbq6" >
							<div class="framer-1ff8gv4">
								<div class="framer-s35e1j" id="paycheck_div1" >
									<p id="paycheck_p1" class="framer-text">
										예약 확정 전에는 요금이 청구되지 않습니다.
									</p>
								</div>
							</div>
							<div class="framer-1teyxmp" >
								<a class="framer-1nl7vgx" href="/paycheck/fine">
								<div class="framer-1lbv6po" id="paycheck_div1">
									<p id="paycheck_p2" class="framer-text">
										결재하기
									</p>
								</div>
								</a>
							</div>
							<div class="framer-1brtl8o" >
								<div class="framer-1uljcg8">
								</div>
							</div>
							<div class="framer-guvjyg">
								<div class="framer-1c4vkn3" >
									<div class="framer-1luddqz" id="paycheck_div1">
										<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">요금 세부정보</h3>
									</div>
								</div>
								<div class="framer-1wag4t4">
									<div class="framer-1mymb27">
										<div class="framer-1iydimw" id="paycheck_div1">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												₩ 115,000 x 3박
											</p>
										</div>
									</div>
									<div class="framer-5rzpfo">
										<div class="framer-mh1wpt" id="paycheck_div1">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												₩ 345,000
											</p>
										</div>
									</div>
								</div>
								<div class="framer-w4993h">
									<div class="framer-akuz37">
										<div class="framer-gvk5wc" id="paycheck_div1">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												서비스 수수료
											</p>
										</div>
									</div>
									<div class="framer-jehmdy">
										<div class="framer-vha4h7" id="paycheck_div1">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												₩ 37,750
											</p>
										</div>
									</div>
								</div>
								<div class="framer-1rggfw2" >
									<div class="framer-1oo25fz">
									</div>
								</div>
								<div class="framer-6fdsj">
									<div class="framer-2x9ilq">
										<div class="framer-1y4r04s" id="paycheck_div1">
											<h3 id="paycheck_h1" class="framer-text">총 합계(KRW)</h3>
										</div>
									</div>
									<div class="framer-10yz0dy">
										<div class="framer-1xxm4mv" id="paycheck_div1">
											<p id="paycheck_p3" class="framer-text">
												₩ 382,750
											</p>
										</div>
									</div>
								</div>
								<div class="framer-1eia2oq" >
									<div class="framer-19qqm1q">
									</div>
								</div>
							</div>
							<div class="framer-174yy1x" >
								<div class="framer-pjo4s1" data-border="true" >
									<div id="paycheck_div2" data-framer-background-image-wrapper="true">
										<div id="paycheck_div3">
											<img src="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg" alt="" srcset="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=4096 4096w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg 6000w" sizes="120px" 
											id="paycheck_img1">
										</div>
									</div>
								</div>
								<div class="framer-fccjw5">
									<div class="framer-ju2wnw">
										<div class="framer-63m6yf" id="paycheck_div1">
											<p id="paycheck_p4" class="framer-text">
												대전 광역시 유성구 궁동
											</p>
										</div>
									</div>
									<div class="framer-g2uwea">
										<div class="framer-xe34v9" id="paycheck_div1">
											<p id="paycheck_p5" class="framer-text">
												Standard Twin
											</p>
										</div>
									</div>
									<div class="framer-1360rg6">
									</div>
									<div class="framer-c26b1r">
										<div class="framer-mtoi2y" id="paycheck_div1">
											<p id="paycheck_p6" class="framer-text">
												★ 4.96
											</p>
										</div>
										<div class="framer-1h2rue0" id="paycheck_div1">
											<p id="paycheck_p4" class="framer-text">
												(후기 21개)
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="framer-b4m1f5">
					<div class="framer-103az2p">
						<a class="framer-12a1xtu" href="/roomdetail">
						<div class="framer-v57tv4" id="paycheck_div1">
							<p id="paycheck_p7" class="framer-text">
								&lt;
							</p>
						</div>
						</a>
						<div class="framer-yi2r6">
							<div class="framer-1fd4co7" id="paycheck_div1">
								<p id="paycheck_p9" class="framer-text">
									예약 요청
								</p>
							</div>
						</div>
					</div>
					<div class="framer-pyir1w" data-border="true">
					</div>
					<div class="framer-4wxaqq">
						<div class="framer-1nzxz9i" >
							<div class="framer-16r2jsz" id="paycheck_div1">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">예약 정보</h3>
							</div>
						</div>
						<div class="framer-165sxa6" >
							<div class="framer-1byr3wr">
								<div class="framer-avc3c2">
									<div class="framer-k1ah97" id="paycheck_div1">
										<p id="paycheck_p8" class="framer-text">
											날짜
										</p>
									</div>
								</div>
								<div class="framer-1ydl7ty">
									<div class="framer-1qf4mqy" id="paycheck_div1">
										<p id="paycheck_p10" class="framer-text">
											11월 18일 ~ 11월 21일
										</p>
									</div>
								</div>
							</div>
							<div class="framer-1ibi0kk">
								<div class="framer-1nblaah" id="paycheck_div1">
									<p id="paycheck_p11" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-fmg881" >
							<div class="framer-1tqv90t">
								<div class="framer-19afeay">
									<div class="framer-1xpw5fv" id="paycheck_div1">
										<p id="paycheck_p8" class="framer-text">
											인원수
										</p>
									</div>
								</div>
								<div class="framer-xt7qnm">
									<div class="framer-1ghzy9b" id="paycheck_div1">
										<p id="paycheck_p10" class="framer-text">
											성인 1명
										</p>
									</div>
								</div>
							</div>
							<div class="framer-oah05u">
								<div class="framer-oyx4ay" id="paycheck_div1">
									<p id="paycheck_p11" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-np6d6m" >
							<div class="framer-14j0fki">
							</div>
						</div>
					</div>
					<div class="framer-1moiapo">
						<div class="framer-1euoj6m" >
							<div class="framer-smlenn" id="paycheck_div1">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">필수 입력 정보</h3>
							</div>
						</div>
						<div class="framer-1mkxuzx" >
							<div class="framer-68anuz">
								<div class="framer-hi4w31">
									<div class="framer-1haivpi" id="paycheck_div1">
										<p id="paycheck_p8" class="framer-text">
											이름
										</p>
									</div>
								</div>
								<div class="framer-1fru2bp">
									<div class="framer-tcktmh" id="paycheck_div1">
										<p id="paycheck_p10" class="framer-text">
											이한빈
										</p>
									</div>
								</div>
							</div>
							<div class="framer-mk6tv9">
								<div class="framer-p9j1un" id="paycheck_div1">
									<p id="paycheck_p11" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-v4nz17" >
							<div class="framer-1mra3yu">
								<div class="framer-1254q5g">
									<div class="framer-i40ldz" id="paycheck_div1">
										<p id="paycheck_p8" class="framer-text">
											전화 번호
										</p>
									</div>
								</div>
								<div class="framer-13a272v">
									<div class="framer-chmdfl" id="paycheck_div1">
										<p id="paycheck_p10" class="framer-text">
											010 - 4104 - 7218
										</p>
									</div>
								</div>
							</div>
							<div class="framer-5cohry">
								<div class="framer-145vogo" id="paycheck_div1">
									<p id="paycheck_p11" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-7chjiw" >
							<div class="framer-12fidig">
							</div>
						</div>
					</div>
					<div class="framer-1cyvxr9" >
						<div class="framer-97sbnb" >
							<div class="framer-1yo9cgp" id="paycheck_div1">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">결재 수단</h3>
							</div>
						</div>
						<div class="framer-cooeol" >
						</div>
						<div class="framer-1gbqnbx" >
						</div>
						<div class="framer-17unwed" >
							<div class="framer-1iqirln">
							</div>
						</div>
					</div>
					<div class="framer-1hccdhc" >
						<div class="framer-14bhmlk" >
							<div class="framer-9vx4zt" id="paycheck_div1">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">환불 정책</h3>
							</div>
						</div>
						<div class="framer-bs2mny" >
							<div class="framer-6fiaqo" id="paycheck_div1">
								<p id="paycheck_p12" class="framer-text">
									부분 환불: 예약을 취소하고 24시간이 지난 후 남은 숙박일에 대한 요금을 모두 환불받으실 수 있습니다. 이미 숙박한 날짜에 대한 요금과 서비스 수수료는 환불되지 않습니다. <a class="framer-text framer-styles-preset-1f710ef" data-styles-preset="e75jtFwAg" href="/login"><span id="paycheck_span1" class="framer-text">자세히 알아보기</span></a>
								</p>
							</div>
						</div>
						<div class="framer-14f55wv" >
							<div class="framer-1y29feh">
							</div>
						</div>
						<div class="framer-1lvlj77">
							<div class="framer-190l3ac">
								<div class="framer-1erkhni">
									<div id="paycheck_div2" data-framer-background-image-wrapper="true">
										<div id="paycheck_div3">
											<img src="https://framerusercontent.com/images/CrrxIegF7fCMHnAzFkccxi8qCg.png" alt="" id="paycheck_img1" loading="lazy">
										</div>
									</div>
								</div>
							</div>
							<div class="framer-7zi6a4" id="paycheck_div1">
								<p id="paycheck_p12" class="framer-text">
									호스트가 24시간 이내 예약 요청을 수락하기 전까지는 예약이 아직
								</p>
								<p id="paycheck_p12" class="framer-text">
									확정된 것이 아닙니다.
								</p>
								<p id="paycheck_p12" class="framer-text">
									예약 확정 전까지는 요금이 청구되지 않습니다.
								</p>
							</div>
						</div>
						<div class="framer-9y3s8p" >
							<div class="framer-1m6a8w1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="overlay">
		</div>
	</div>
</div>
	
	
	
	
	
	
	
	</div>
	
	
</body>
</html>