<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	

	
	
	
	
	
	
	<div id="main" data-framer-hydrate-v2="{'routeId':'dujEad0K6'}" data-framer-ssr-released-at="2022-11-09T12:05:04.254Z" data-framer-page-optimized-at="2022-11-09T16:04:57.619Z">
	<div data-framer-generated="true" class="framer-ZFbMu framer-tXvOs framer-f1XTd framer-YMnJ1" style="display:contents">
		<div class="framer-1aagz0n" style="min-height:100%;width:auto">
	
			<div class="framer-ip9147" data-framer-name="전체 프레임" name="전체 프레임">
				<div class="framer-hxatrq" data-framer-name="결재 정보" name="결재 정보">
					<div class="framer-ynq0oy" data-border="true" data-framer-name="결재 테이블" name="결재 테이블">
						<div class="framer-1brfbq6" data-framer-name="첫번째 줄" name="첫번째 줄">
							<div class="framer-1ff8gv4" data-framer-name="안내버튼" name="안내버튼">
								<div class="framer-s35e1j" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
										예약 확정 전에는 요금이 청구되지 않습니다.
									</p>
								</div>
							</div>
							<div class="framer-1teyxmp" data-framer-name="결재하기 버튼" name="결재하기 버튼">
								<a class="framer-1nl7vgx" href="/paycheck/fine">
								<div class="framer-1lbv6po" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
										결재하기
									</p>
								</div>
								</a>
							</div>
							<div class="framer-1brtl8o" data-framer-name="중간선" name="중간선">
								<div class="framer-1uljcg8">
								</div>
							</div>
							<div class="framer-guvjyg">
								<div class="framer-1c4vkn3" data-framer-name="제목" name="제목">
									<div class="framer-1luddqz" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">요금 세부정보</h3>
									</div>
								</div>
								<div class="framer-1wag4t4">
									<div class="framer-1mymb27">
										<div class="framer-1iydimw" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												₩ 115,000 x 3박
											</p>
										</div>
									</div>
									<div class="framer-5rzpfo">
										<div class="framer-mh1wpt" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												₩ 345,000
											</p>
										</div>
									</div>
								</div>
								<div class="framer-w4993h">
									<div class="framer-akuz37">
										<div class="framer-gvk5wc" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												서비스 수수료
											</p>
										</div>
									</div>
									<div class="framer-jehmdy">
										<div class="framer-vha4h7" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p class="framer-text framer-styles-preset-1dpwnmc" data-styles-preset="Pt0N2c1Lm">
												₩ 37,750
											</p>
										</div>
									</div>
								</div>
								<div class="framer-1rggfw2" data-framer-name="중간선" name="중간선">
									<div class="framer-1oo25fz">
									</div>
								</div>
								<div class="framer-6fdsj">
									<div class="framer-2x9ilq">
										<div class="framer-1y4r04s" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<h3 style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em;--framer-text-color:#000000" class="framer-text">총 합계(KRW)</h3>
										</div>
									</div>
									<div class="framer-10yz0dy">
										<div class="framer-1xxm4mv" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-letter-spacing:0.2px;--framer-line-height:1.6em" class="framer-text">
												₩ 382,750
											</p>
										</div>
									</div>
								</div>
								<div class="framer-1eia2oq" data-framer-name="중간선" name="중간선">
									<div class="framer-19qqm1q">
									</div>
								</div>
							</div>
							<div class="framer-174yy1x" data-framer-name="사진 및 요약 정보" name="사진 및 요약 정보">
								<div class="framer-pjo4s1" data-border="true" data-framer-name="객실 이미지" name="객실 이미지">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg" alt="" srcset="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=4096 4096w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg 6000w" sizes="120px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
								</div>
								<div class="framer-fccjw5" data-framer-name="객실 소개란" name="객실 소개란">
									<div class="framer-ju2wnw">
										<div class="framer-63m6yf" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(85, 85, 85)" class="framer-text">
												대전 광역시 유성구 궁동
											</p>
										</div>
									</div>
									<div class="framer-g2uwea">
										<div class="framer-xe34v9" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:14px;--framer-text-alignment:center" class="framer-text">
												Standard Twin
											</p>
										</div>
									</div>
									<div class="framer-1360rg6">
									</div>
									<div class="framer-c26b1r">
										<div class="framer-mtoi2y" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:12px;--framer-text-alignment:center" class="framer-text">
												★ 4.96
											</p>
										</div>
										<div class="framer-1h2rue0" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(85, 85, 85)" class="framer-text">
												(후기 21개)
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="framer-b4m1f5" data-framer-name="예약 요청" name="예약 요청">
					<div class="framer-103az2p" data-framer-name="예약 정보(제목)" name="예약 정보(제목)">
						<a class="framer-12a1xtu" href="/roomdetail">
						<div class="framer-v57tv4" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
							<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center;--framer-text-color:rgb(85, 85, 85)" class="framer-text">
								&lt;
							</p>
						</div>
						</a>
						<div class="framer-yi2r6">
							<div class="framer-1fd4co7" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:32px;--framer-text-alignment:center" class="framer-text">
									예약 요청
								</p>
							</div>
						</div>
					</div>
					<div class="framer-pyir1w" data-border="true">
					</div>
					<div class="framer-4wxaqq" data-framer-name="예약 정보(날짜 인원수)" name="예약 정보(날짜 인원수)">
						<div class="framer-1nzxz9i" data-framer-name="제목" name="제목">
							<div class="framer-16r2jsz" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">예약 정보</h3>
							</div>
						</div>
						<div class="framer-165sxa6" data-framer-name="날짜" name="날짜">
							<div class="framer-1byr3wr">
								<div class="framer-avc3c2">
									<div class="framer-k1ah97" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center" class="framer-text">
											날짜
										</p>
									</div>
								</div>
								<div class="framer-1ydl7ty">
									<div class="framer-1qf4mqy" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:center" class="framer-text">
											11월 18일 ~ 11월 21일
										</p>
									</div>
								</div>
							</div>
							<div class="framer-1ibi0kk">
								<div class="framer-1nblaah" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-decoration:underline" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-fmg881" data-framer-name="인원수" name="인원수">
							<div class="framer-1tqv90t">
								<div class="framer-19afeay">
									<div class="framer-1xpw5fv" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center" class="framer-text">
											인원수
										</p>
									</div>
								</div>
								<div class="framer-xt7qnm">
									<div class="framer-1ghzy9b" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:center" class="framer-text">
											성인 1명
										</p>
									</div>
								</div>
							</div>
							<div class="framer-oah05u">
								<div class="framer-oyx4ay" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-decoration:underline" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-np6d6m" data-framer-name="중간선" name="중간선">
							<div class="framer-14j0fki">
							</div>
						</div>
					</div>
					<div class="framer-1moiapo" data-framer-name="필수 입력 정보" name="필수 입력 정보">
						<div class="framer-1euoj6m" data-framer-name="제목" name="제목">
							<div class="framer-smlenn" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">필수 입력 정보</h3>
							</div>
						</div>
						<div class="framer-1mkxuzx" data-framer-name="날짜" name="날짜">
							<div class="framer-68anuz">
								<div class="framer-hi4w31">
									<div class="framer-1haivpi" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center" class="framer-text">
											이름
										</p>
									</div>
								</div>
								<div class="framer-1fru2bp">
									<div class="framer-tcktmh" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:center" class="framer-text">
											이한빈
										</p>
									</div>
								</div>
							</div>
							<div class="framer-mk6tv9">
								<div class="framer-p9j1un" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-decoration:underline" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-v4nz17" data-framer-name="인원수" name="인원수">
							<div class="framer-1mra3yu">
								<div class="framer-1254q5g">
									<div class="framer-i40ldz" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center" class="framer-text">
											전화 번호
										</p>
									</div>
								</div>
								<div class="framer-13a272v">
									<div class="framer-chmdfl" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-text-alignment:center" class="framer-text">
											010 - 4104 - 7218
										</p>
									</div>
								</div>
							</div>
							<div class="framer-5cohry">
								<div class="framer-145vogo" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
									<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-decoration:underline" class="framer-text">
										수정
									</p>
								</div>
							</div>
						</div>
						<div class="framer-7chjiw" data-framer-name="중간선" name="중간선">
							<div class="framer-12fidig">
							</div>
						</div>
					</div>
					<div class="framer-1cyvxr9" data-framer-name="결재 수단" name="결재 수단">
						<div class="framer-97sbnb" data-framer-name="제목" name="제목">
							<div class="framer-1yo9cgp" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">결재 수단</h3>
							</div>
						</div>
						<div class="framer-cooeol" data-framer-name="날짜" name="날짜">
						</div>
						<div class="framer-1gbqnbx" data-framer-name="인원수" name="인원수">
						</div>
						<div class="framer-17unwed" data-framer-name="중간선" name="중간선">
							<div class="framer-1iqirln">
							</div>
						</div>
					</div>
					<div class="framer-1hccdhc" data-framer-name="환불 정책" name="환불 정책">
						<div class="framer-14bhmlk" data-framer-name="제목" name="제목">
							<div class="framer-9vx4zt" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">환불 정책</h3>
							</div>
						</div>
						<div class="framer-bs2mny" data-framer-name="날짜" name="날짜">
							<div class="framer-6fiaqo" preload="fyxHY82ZH" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-line-height:1.3em;--framer-text-alignment:left" class="framer-text">
									부분 환불: 예약을 취소하고 24시간이 지난 후 남은 숙박일에 대한 요금을 모두 환불받으실 수 있습니다. 이미 숙박한 날짜에 대한 요금과 서비스 수수료는 환불되지 않습니다. <a class="framer-text framer-styles-preset-1f710ef" data-styles-preset="e75jtFwAg" href="/login"><span style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-decoration:underline" class="framer-text">자세히 알아보기</span></a>
								</p>
							</div>
						</div>
						<div class="framer-14f55wv" data-framer-name="중간선" name="중간선">
							<div class="framer-1y29feh">
							</div>
						</div>
						<div class="framer-1lvlj77">
							<div class="framer-190l3ac">
								<div class="framer-1erkhni">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/CrrxIegF7fCMHnAzFkccxi8qCg.png" alt="" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" loading="lazy">
										</div>
									</div>
								</div>
							</div>
							<div class="framer-7zi6a4" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-line-height:1.3em;--framer-text-alignment:left" class="framer-text">
									호스트가 24시간 이내 예약 요청을 수락하기 전까지는 예약이 아직
								</p>
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-line-height:1.3em;--framer-text-alignment:left" class="framer-text">
									확정된 것이 아닙니다.
								</p>
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-line-height:1.3em;--framer-text-alignment:left" class="framer-text">
									예약 확정 전까지는 요금이 청구되지 않습니다.
								</p>
							</div>
						</div>
						<div class="framer-9y3s8p" data-framer-name="중간선" name="중간선">
							<div class="framer-1m6a8w1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="overlay">
		</div>
	</div>
</div>
	
	
	
	
	
	
	
	</div>
	
	
</body>
</html>