<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
	<style></style>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="main">

			<!-- jQuery 사용학 위해 cdn 호출-->
			<script
					src="https://code.jquery.com/jquery-3.6.1.js"
					integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
					crossorigin="anonymous">
			</script>

			<!-- backend data 전달 테스트용 코드 -->
			<div th:text="${productId}"></div>

			<!-- jQuery 출력 테스트용 코드 -->
			<script>
				let productId = [[${productId}]];
				console.log(productId);
				$(function(){
					alert("hello Jquerry !!!");
					getProductInfo();
				});
				async function getProductInfo(){
					const getProductInfoUrl = "/api/product/info/" + productId;
					console.log(getProductInfoUrl);
					const data = await fetch(getProductInfoUrl, {
							method: "GET",
							headers: {
								"Content-Type": "application/json",
							}
						})
						.then(res => res.json())
						.then(data => data);
					if(data.message === "OK"){
						console.log(data.data);
					};
				}
			</script>
			<style type="text/css">
				li:hover {
					color: rgba(43, 206, 255,255);
				}
			</style>

			<!-- 실제 모든 내용을 담는 틀-->
			<div style="top: 300px; margin-left: auto; margin-right: auto; width: 1200px; height: 800px; text-align: center; padding-top: 60px; ">
				<div style="height: 50px; width: 500px; font-size: 16px">
					<!-- 숙소소개, 예약하기, 오시는길, 문의하기 등 서브 nav -->
					<!-- 기본 칼라 연보라색 : rgba(102,102,255,255) -->
					<ul style="padding: 0; display: flex; justify-content: space-around; line-height: 50px; font-weight: bold; color: grey;">
						<li style="list-style: none; cursor: pointer; color: rgba(102,102,255,255)">숙소 소개</li>
						<li style="list-style: none; cursor: pointer">예약 하기</li>
						<li style="list-style: none; cursor: pointer">오시는 길</li>
						<li style="list-style: none; cursor: pointer">문의하기</li>
					</ul>
				</div>

				<!-- 이미지 슬라이드(carousel) -->
				<div style="width: 100%; height: 300px; border-top: 0.5px solid rgb(235, 236, 237); display: flex; justify-content: center;">
					<div style="width:400px; height: 300px; padding: 0; background: yellow">test</div>
					<div style="width:400px; height: 300px; padding: 0; background: green">test</div>
					<div style="width:400px; height: 300px; padding: 0; background: blue">test</div>
				</div>

				<!-- 각 숙박업소 소개글-->
				<dib>숙박 업소 소개 글</dib>
			</div>



		</div>
	</div>
</body>
</html>