<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/productInfo.css" />
	<!-- server단에서 오는 값을 미리 js 변수로 할당 -->
	<script>
		let productId = [[${productId}]];
	</script>
	<script src="/js/common.js"></script>
	<script src="/js/productUpdate.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div id="main">

			<!-- 실제 모든 내용을 담는 틀-->
			<div style="top: 300px; width: 100%; padding-top: 77px;">
<!--				<div style="top: 300px; margin-left: auto; margin-right: auto; width: 1200px; height: 800px; text-align: center; padding-top: 60px; ">-->
				<!-- 서브 nav 감싸는 div -->
				<div style="margin: 10px auto 5px; width: 1200px; text-align: center; ">
					<!-- 숙소소개, 예약하기, 오시는길, 문의하기 등 서브 nav -->
					<div style="height: 50px; width: 700px; font-size: 16px">
						<!-- 기본 칼라 연보라색 : rgba(102,102,255,255) -->
						<ul class="sub-nav-ul" style="padding: 0; display: flex; justify-content: normal; line-height: 50px; font-weight: bold; color: grey;">
							<li class="sub-nav-li"><a id="productInfoBtn">숙소 소개</a></li>
							<li class="sub-nav-li"><a id="reservationBtn">예약하기</a></li>
							<li class="sub-nav-li"><a id="locationBtn">오시는 길</a></li>
							<li class="sub-nav-li"><a id="qnaBtn">문의하기</a></li>
						</ul>
					</div>
				</div>

				<!-- main content 감싸는 div -->
				<div style="width: 100%; border-top: 1px solid rgb(235, 236, 237);">


					<!-- 모달창 -->
					<div id="modal" class="modal-overlay" style="visibility: hidden">
						<div class="modal-window">
							<div class="title">
								<h2>업체 삭제하기</h2>
							</div>
							<div class="close-area">X</div>
							<div class="content">
								<p>정말 삭제하시겠습니까?</p>
								<p>삭제시 복구가 불가합니다.</p>
							</div>
							<div style="display: flex; justify-content: space-around; margin: 20px 5px 10px;">
								<input id="deleteCancelBtn" style="padding: 5px 20%; border: 1px white solid; border-radius: 5px; background-color: white; cursor: pointer" type="button" value="취소">
								<input id="deleteConfirmBtn" style="padding: 5px 20%; border: 1px white solid; border-radius: 5px; background-color: white; cursor: pointer" type="button" value="삭제">
							</div>
						</div>
					</div>

					<!-- 실제 예약 및 목록 관련 내용들 -->
					<div style="margin: 50px auto; padding: 0 100px 50px; width: 1200px; text-align: center" >

<!--						&lt;!&ndash; 각 숙박업소 소개글&ndash;&gt;-->
<!--						<div style="width: 100%; margin-top: 20px; padding: 10px; height: 100px; border: 1px rgb(235, 236, 237) solid; text-align: left"></div>-->

						<!-- form -->
						<div style="width: 80%; margin: 0 auto; padding: 50px; border: 1px rgb(235, 236, 237) solid;">
							<form>
								<div style="margin: 10px 0 30px; font-size: 30px">내 업체 정보 수정하기</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">업체명<span style="margin:0 5px; font-size: 12px; color: grey">(한글 2-10자로 입력해주세요)</span></div>
									<div style="margin: 10px 0 30px; display: flex; flex-direction: column; justify-content: center;">
										<input id="productName" name="productName" type="text" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-radius: 5px; line-height: 40px; font-size: 15px; text-align: center" placeholder="ㅇㅇ호텔">
										<div id="productNameTip" style="padding-left: 5px; width: 100%; height: 15px; line-height: 30px; font-size: 12px; font-weight: bold; color: rgba(102,102,255,255); text-align: left; visibility: hidden">업체명을 입력해 주세요.</div>
									</div>
								</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">카테고리</div>
									<div style="margin: 10px 0 30px; display: flex; justify-content: center;">
										<label id="firstLabel" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-radius: 10px 0 0 10px;">
											<input type="radio" name="productCategory" value="h" style="opacity: 0%" /><span style="line-height: 40px; font-size: 15px">호텔</span>
										</label>
										<label id="secondLabel" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-left: none">
											<input type="radio" name="productCategory" value="m" style="opacity: 0%" /><span style="line-height: 40px; font-size: 15px">모텔</span></input>
										</label>
										<label id="thirdLabel" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-left: none; border-radius: 0px 10px 10px 0; ">
											<input type="radio" name="productCategory" value="p" style="opacity: 0%" /><span style="line-height: 40px; font-size: 15px">펜션</span></input>
										</label>
									</div>
								</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">주소<span style="margin:0 5px; font-size: 12px; color: grey">(한글 5-100자로 입력해주세요)</span></div>
									<div style="margin: 10px 0 30px; display: flex; flex-direction: column; justify-content: center;">
										<input id="address" name="address" type="text" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-radius: 5px; line-height: 40px; font-size: 15px; text-align: center" placeholder="서울특별시 강남구 ㅇㅇ로 o길oo">
										<div id="addressTip" style="padding-left: 5px; width: 100%; height: 15px; line-height: 30px; font-size: 12px; font-weight: bold; color: rgba(102,102,255,255); text-align: left; visibility: hidden">주소를 입력해 주세요.</div>
									</div>
								</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">상세주소<span style="margin:0 5px; font-size: 12px; color: grey">(한글 0-100자로 입력해주세요)</span></div>
									<div style="margin: 10px 0 30px; display: flex; flex-direction: column; justify-content: center;">
										<input id="addressDetail" name="addressDetail" type="text" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-radius: 5px; line-height: 40px; font-size: 15px; text-align: center" placeholder="ㅇㅇ아파트 ㅇㅇ동 ㅇㅇ호">
										<div id="addressDetailTip" style="padding-left: 5px; width: 100%; height: 15px; line-height: 30px; font-size: 12px; font-weight: bold; color: rgba(102,102,255,255); text-align: left; visibility: hidden">상세주소를 입력해 주세요.</div>
									</div>
								</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">우편번호<span style="margin:0 5px; font-size: 12px; color: grey">(숫자 6자로 입력해주세요)</span></div>
									<div style="margin: 10px 0 30px; display: flex; flex-direction: column; justify-content: center;">
										<input id="zipCode" name="zipCode" type="number" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-radius: 5px; line-height: 40px; font-size: 15px; text-align: center" placeholder="123456">
										<div id="zipCodeTip" style="padding-left: 5px; width: 100%; height: 15px; line-height: 30px; font-size: 12px; font-weight: bold; color: rgba(102,102,255,255); text-align: left; visibility: hidden">우편번호를 입력해 주세요.</div>
									</div>
								</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">전화번호<span style="margin:0 5px; font-size: 12px; color: grey">(숫자 9-11자로 입력해주세요)</span></div>
									<div style="margin: 10px 0 30px; display: flex; flex-direction: column; justify-content: center;">
										<input id="telNum" name="telNum" type="number" style="width: 100%; height: 40px; border: 1px solid #dfdfdf; border-radius: 5px; line-height: 40px; font-size: 15px; text-align: center" placeholder="01012345678">
										<div id="telNumTip" style="padding-left: 5px; width: 100%; height: 15px; line-height: 30px; font-size: 12px; font-weight: bold; color: rgba(102,102,255,255); text-align: left; visibility: hidden">전화번호를 입력해 주세요.</div>
									</div>
								</div>
								<div>
									<div style="width: 100%; text-align: left; font-size: 15px; font-weight: bold">업체 소개<span style="margin:0 5px; font-size: 12px; color: grey">(한글/영문/숫자/특수문자 등을 이용해 0-500자로 입력해주세요)</span></div>
									<div style="margin: 10px 0 30px; display: flex; flex-direction: column; justify-content: center;">
										<textarea id="productDescription" name="productDescription" style="width: 100%; height: 200px; border: 1px solid #dfdfdf; border-radius: 5px; font-size: 15px; text-align: left; resize: none;" placeholder="업체 소개">
										</textarea>
										<div id="productDescriptionTip" style="padding-left: 5px; width: 100%; height: 15px; line-height: 30px; font-size: 12px; font-weight: bold; color: rgba(102,102,255,255); text-align: left; visibility: hidden">업체 소개를 입력해 주세요.</div>
									</div>
								</div>
								<div style="margin: 10px; display: flex; justify-content: center; box-sizing: border-box;">
									<input id="cancelBtn" class="colorBtn" type="button" style="margin: 0 10px" value="취소하기">
									<input id="submitBtn" class="colorBtn" type="button" style="margin: 0 10px" value="수정하기">
									<input id="deleteBtn" class="colorBtn" type="button" style="margin: 0 10px" value="삭제하기">
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</body>
</html>