<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>semo</title>
</head>
<body>
<div layout:fragment="content">
	

	

<div id="main" >
	<div data-framer-generated="true" class="framer-EyqVu framer-hoagE" style="display:contents">
		<div class="framer-1wlfo40" style="min-height:100%;width:auto">
			<div class="framer-1qzlnab">
				<div class="framer-w18adf" >
					<div class="framer-1r0bj0s" >
						<div class="framer-1hks42n" id="rv_div1">
							<h3 id="rd_p12" class="framer-text">1 대 1문의 / 카카오톡</h3>
						</div>
					</div>
					<div class="framer-195mmlg">
						<div class="framer-1egrbxc">
						</div>
					</div>
					<div class="framer-m21sgr">
					</div>
					<div class="framer-3pi176">
						<div class="framer-7qvzip">
						</div>
					</div>
				</div>
			</div>
			<div class="framer-1x073vm">
				<div class="framer-izm1lx" data-border="true">
					<div class="framer-6gnfst">
						<div class="framer-1d5yaxy" >
							<div class="framer-w27gem" id="pcf_div4">
								<p id="rv_p1" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/">숙소 소개</a>
								</p>
							</div>
						</div>
						<div class="framer-6golul" >
							<div class="framer-ej6vnv"  id="pcf_div4">
								<p  id="rv_p2" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/reservation">예약하기</a>
								</p>
							</div>
						</div>
						<div class="framer-1dauv6d" >
							<div class="framer-gq4ev" id="pcf_div4">
								<p  id="rv_p2" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="/hotelMap">오시는길</a>
								</p>
							</div>
						</div>
						<div class="framer-17plhhd" >
							<div class="framer-1tz7p0k"  id="pcf_div4">
								<p  id="rv_p2" class="framer-text">
									문의하기
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


	</div>
	
	
</body>
</html>