<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
	<title>semo</title>
	<link rel="stylesheet" href="/css/productInfo.css" />
	<script th:inline="javascript">
		let productId = [[${productId}]];
	</script>
	<script src="/js/common.js"></script>
	<script src="/js/qna.js"></script>
</head>
<body>
<div layout:fragment="content">

	<div id="main" >

		<!-- 실제 모든 내용을 담는 틀-->
		<div style="top: 300px; width: 100%; padding-top: 77px;">
			<!-- 서브 nav 감싸는 div -->
			<div style="margin: 10px auto 5px; width: 1200px; text-align: center; ">
				<!-- 숙소소개, 예약하기, 오시는길, 문의하기 등 서브 nav -->
				<div style="height: 50px; width: 700px; font-size: 16px">
					<!-- 기본 칼라 연보라색 : rgba(102,102,255,255) -->
					<ul class="sub-nav-ul" style="padding: 0; display: flex; justify-content: normal; line-height: 50px; font-weight: bold; color: grey;">
						<li class="sub-nav-li"><a id="productInfoBtn">숙소 소개</a></li>
						<li class="sub-nav-li"><a id="reservationBtn">예약하기</a></li>
						<li class="sub-nav-li"><a id="locationBtn">오시는 길</a></li>
						<li class="sub-nav-li"><a id="qnaBtn" class="currentBtn">문의하기</a></li>
					</ul>
				</div>
			</div>

			<!-- 실제 내용들 -->
			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; border-top: 1px solid rgb(235, 236, 237)" >
				<!-- 글-->
				<div style="width: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center">
					<!-- 제목 부분 -->
					<div id="productName" style="margin: 20px 0;font-size: 25px; font-weight: bold">1 대 1 문의 남기기</div>
					<div>
						<form action="" method="" style="width:500px; display: flex; flex-direction: column; justify-content: center">
							<input id="title" style="width: 100%; height: 30px; padding: 0 10px 0; font-size: 13px" placeholder="제목을 입력해 주세요.">
							<textarea id="content" style="margin: 10px 0; width: 100%; height: 300px; resize: none; font-size: 13px" placeholder="내용을 입력해 주세요."></textarea>
							<div style="display: flex; justify-content: center">
								<button id="submitBtn" class="colorBtn" type="submit" >보내기</button>
								<input type="button" id="cancelBtn" class="colorBtn" style="text-align: center" value="취소" onclick="history.back()">
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
	
	
</body>
</html>