<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	

	

<div id="main" data-framer-hydrate-v2="{'routeId':'FkrSaiL_s'}" data-framer-ssr-released-at="2022-11-09T12:05:04.254Z" data-framer-page-optimized-at="2022-11-09T16:04:57.330Z">
	<div data-framer-generated="true" class="framer-EyqVu framer-hoagE" style="display:contents">
		<div class="framer-1wlfo40" style="min-height:100%;width:auto">
			<div class="framer-1qzlnab">
				<div class="framer-w18adf" data-framer-name="메인 프레임" name="메인 프레임">
					<div class="framer-1r0bj0s" data-framer-name="제목" name="제목">
						<div class="framer-1hks42n" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
							<h3 style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:32px;--framer-letter-spacing:0.2px;--framer-line-height:1.6em" class="framer-text">1 대 1문의 / 카카오톡</h3>
						</div>
					</div>
					<div class="framer-195mmlg" data-framer-name="중간선" name="중간선">
						<div class="framer-1egrbxc">
						</div>
					</div>
					<div class="framer-m21sgr">
					</div>
					<div class="framer-3pi176" data-framer-name="중간선" name="중간선">
						<div class="framer-7qvzip">
						</div>
					</div>
				</div>
			</div>
			<div class="framer-1x073vm" data-framer-name="네비게이션" name="네비게이션">
				<div class="framer-izm1lx" data-border="true">
					<div class="framer-6gnfst">
						<div class="framer-1d5yaxy" data-framer-name="호텔 / 리조트" name="호텔 / 리조트">
							<div class="framer-w27gem" preload="augiA20Il" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="./">숙소 소개</a>
								</p>
							</div>
						</div>
						<div class="framer-6golul" data-framer-name="모텔" name="모텔">
							<div class="framer-ej6vnv" preload="n2t5x0MjM" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="./reservation">예약하기</a>
								</p>
							</div>
						</div>
						<div class="framer-1dauv6d" data-framer-name="호텔 / 리조트" name="호텔 / 리조트">
							<div class="framer-gq4ev" preload="aqK1MCEZB" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="./hotelMap">오시는길</a>
								</p>
							</div>
						</div>
						<div class="framer-17plhhd" data-framer-name="호텔 / 리조트" name="호텔 / 리조트">
							<div class="framer-1tz7p0k" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" data-framer-component-type="RichTextContainer">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
									문의하기
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="overlay">
		</div>
	</div>
</div>
<div id="svg-templates" style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0">
</div>


	</div>
	
	
</body>
</html>