<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<style>
</style>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	



<div id="main">
	<div class="framer-XTgPR framer-hoagE framer-tXvOs" style="display:contents">
		<div class="framer-7ordep" style="min-height:100%;width:auto">
	
			<div class="framer-on0ys8">
			</div>
			<div class="framer-tlqjot" >
				<div class="framer-y72on9" data-border="true">
					<div class="framer-hx1q6j">
						<div class="framer-hzoqh4"  >
							<div class="framer-1ie09vt" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="./">숙소 소개</a>
								</p>
							</div>
						</div>
						<div class="framer-1mp2hif" >
							<div class="framer-btlhpz" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
									예약하기
								</p>
							</div>
						</div>
						<div class="framer-134285t" >
							<div class="framer-12syz3x"  style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="./hotelmap">오시는길</a>
								</p>
							</div>
						</div>
						<div class="framer-1q68mq5" >
							<div class="framer-1drjhxp" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center" class="framer-text">
									<a class="framer-text framer-styles-preset-159jan1" data-styles-preset="YGyNxdBP_" href="./qna">문의하기</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="framer-b2gaex" >
				<div class="framer-flr17d">
					<div class="framer-1m5zo06" >
						<div class="framer-7afsvr" data-border="true" >
							<div class="framer-1l2z67v" >
								<div class="framer-hic40e">
									<div class="framer-kzntby" data-border="true">
										<div class="framer-sfb7o9" data-border="true">
											<div class="framer-1mi8bar">
												<div class="framer-lsw82o" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
													<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
														인원
													</p>
												</div>
											</div>
											<div class="framer-1lvxgd8">
												<div class="framer-xlc2mi" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
													<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 102)" class="framer-text">
														1 명
													</p>
												</div>
											</div>
											<div class="framer-t5j1fq" data-border="true">
												<div class="framer-1oaa5xh">
													<div class="framer-alrsdd" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:translateX(-50%)">
														<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
															-
														</p>
													</div>
												</div>
												<div class="framer-15rqhkq" data-border="true">
													<div class="framer-1aqz06w" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
														<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
															+
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="framer-yi6sbf" data-border="true">
											<div class="framer-joh66z">
												<div class="framer-1m5onky" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
													<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
														체크인
													</p>
												</div>
											</div>
											<div class="framer-9wtfpg">
												<div class="framer-gxzzs5" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
													<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 102)" class="framer-text">
														yyyy - dd - mm
													</p>
												</div>
											</div>
										</div>
										<div class="framer-1xiyb56">
											<div class="framer-7izi6o">
												<div class="framer-alcs6s" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
													<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(51, 51, 51)" class="framer-text">
														체크 아웃
													</p>
												</div>
											</div>
											<div class="framer-1va47iz">
												<div class="framer-1kt496c" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
													<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 102)" class="framer-text">
														yyyy - dd - mm
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="framer-t4sxo3">
									<div class="framer-1lz3urh">
										<div class="framer-4wwtha" >
											<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0">
												<div style="display:contents;border-radius:inherit;pointer-events:none">
													<img src="https://framerusercontent.com/images/GXhyKW91EYrVHFGzEr5azo5adw.png" alt="" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
												</div>
											</div>
										</div>
									</div>
									<div class="framer-1r5ha5" >
										<div class="framer-1aolv6p">
											<div class="framer-bqvra7" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
												<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
													₩ 60,000
												</p>
											</div>
											<div class="framer-1oss0hw" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
												<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
													/
												</p>
											</div>
											<div class="framer-mczu72" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
												<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
													3
												</p>
											</div>
											<div class="framer-1pgx23v" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
												<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
													박
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="framer-o8jjei">
									<div class="framer-dvthaz">
										<div class="framer-zc55tq" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												객실 조회하기
											</p>
										</div>
									</div>
								</div>
								<div class="framer-csetyt">
									<div class="framer-vn7gv" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBSZWd1bGFy;--framer-font-family:'Noto Sans KR Regular', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
											예약 확정 전에는 요금이 청구되지 않습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="framer-rpyoah"  >
							<div class="framer-1rlzagl">
							</div>
						</div>
						<div class="framer-2seg52"  >
							<div class="framer-4gc999" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">예약 정보</h3>
							</div>
						</div>
					</div>
					<div class="framer-19usb75"  >
						<div class="framer-1ajh70w"  >
							<div class="framer-1b6sk05" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none">
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">객실 목록</h3>
							</div>
						</div>
						<div class="framer-lsn2kw" >
							<div class="framer-1v4r4hx">
							</div>
						</div>
						<div class="framer-1oxxsns" >
							<div class="framer-7wgswy" >
								<div class="framer-3x107g">
								</div>
							</div>
							<div class="framer-1ovbi8j">
								<div class="framer-ct4eet">
									<div class="framer-lv12se" >
										<div class="framer-yh7301" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:22px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												115,000원 ~
											</p>
										</div>
									</div>
									<div class="framer-xmreif" >
										<div class="framer-169oq11" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												기준2 / 최대 2
											</p>
										</div>
										<div class="framer-1ih4bfa" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
												1박 / VAT포함
											</p>
										</div>
									</div>
									<div class="framer-mpcviy" >
										<div class="framer-1twxdck" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
												Standard Twin
											</p>
										</div>
									</div>
								</div>
								<div class="framer-16dxq80" >
									<a class="framer-11cdq50" href="./roomdetail">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg" alt="" srcset="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=4096 4096w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg 6000w" sizes="300px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
									<div class="framer-17zf6ea">
										<div class="framer-6b1vej" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												객실 상세 보기
											</p>
										</div>
										<div class="framer-1lk3ie6" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												→
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-1agscge"  >
									<a class="framer-1h8kpqv" href="./roomdetail">
									<div class="framer-uchkwr" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
											예약하기
										</p>
									</div>
									</a>
								</div>
							</div>
						</div>
						<div class="framer-1i0m79g" >
							<div class="framer-it47xp"  >
								<div class="framer-f2j03f">
								</div>
							</div>
							<div class="framer-1vlgh9j">
								<div class="framer-1rv3qnz"  >
									<div class="framer-x4dy0r" >
										<div class="framer-ccj7rd" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:22px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												130,000원 ~
											</p>
										</div>
									</div>
									<div class="framer-j18kpf" >
										<div class="framer-h33nc2" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												기준2 / 최대 2
											</p>
										</div>
										<div class="framer-1lesthf" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
												1박 / VAT포함
											</p>
										</div>
									</div>
									<div class="framer-46qr4l" >
										<div class="framer-j7u9su" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
												Deluxe Twin
											</p>
										</div>
									</div>
								</div>
								<div class="framer-kebr4m" >
									<a class="framer-1ttu2r1" href="./roomdetail">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/8USkKla0j0gIvRTp1xDSHZEM90c.jpg?scale-down-to=512" alt="" srcset="https://framerusercontent.com/images/8USkKla0j0gIvRTp1xDSHZEM90c.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/8USkKla0j0gIvRTp1xDSHZEM90c.jpg 720w" sizes="300px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
									<div class="framer-4a47pt">
										<div class="framer-mro3x0" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												객실 상세 보기
											</p>
										</div>
										<div class="framer-osuc27" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												→
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-ibebfx" >
									<a class="framer-39ok34" href="./roomdetail">
									<div class="framer-ylzp78" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
											예약하기
										</p>
									</div>
									</a>
								</div>
							</div>
						</div>
						<div class="framer-ww8yri" >
							<div class="framer-1sshype" >
								<div class="framer-1wwmwn3">
								</div>
							</div>
							<div class="framer-rsd5xn">
								<div class="framer-b9ore9"  >
									<div class="framer-1ovdjqs">
										<div class="framer-145sulh" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:22px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												140,000원 ~
											</p>
										</div>
									</div>
									<div class="framer-iqnv9n" name="기준일">
										<div class="framer-g043ya" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												기준2 / 최대 2
											</p>
										</div>
										<div class="framer-1slc7cm" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
												1박 / VAT포함
											</p>
										</div>
									</div>
									<div class="framer-1fvi02u" >
										<div class="framer-nn1hs2" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
												HollyWood King
											</p>
										</div>
									</div>
								</div>
								<div class="framer-10rj6hb" >
									<a class="framer-4o7n7r"   href="./roomdetail">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/W2sVTLJP8otNNv9XTDIZ0r90hLo.jpg" alt="" srcset="https://framerusercontent.com/images/W2sVTLJP8otNNv9XTDIZ0r90hLo.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/W2sVTLJP8otNNv9XTDIZ0r90hLo.jpg 1000w" sizes="300px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
									<div class="framer-1vgain3">
										<div class="framer-vxzjy7" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												객실 상세 보기
											</p>
										</div>
										<div class="framer-3p46q0" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												→
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-11i4kt8"  >
									<a class="framer-6wpp3j" href="./roomdetail">
									<div class="framer-4vrd09" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
											예약하기
										</p>
									</div>
									</a>
								</div>
							</div>
						</div>
						<div class="framer-1ge56li" >
							<div class="framer-1iaewzn">
								<div class="framer-1sy27ho">
								</div>
							</div>
							<div class="framer-1ug11wt">
								<div class="framer-svuor7"  >
									<div class="framer-13vxa5o">
										<div class="framer-1fw4pf2" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:22px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												185,000원 ~
											</p>
										</div>
									</div>
									<div class="framer-6uqeye" >
										<div class="framer-1qieebk" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												기준2 / 최대 2
											</p>
										</div>
										<div class="framer-1lxjv8q" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
												1박 / VAT포함
											</p>
										</div>
									</div>
									<div class="framer-ka5q8f" >
										<div class="framer-1wurhtm" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
												Boutique Double
											</p>
										</div>
									</div>
								</div>
								<div class="framer-1tfmjju" >
									<a class="framer-1aq5475"  href="./roomdetail">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/kVt9tVQT1IJd3L71uU8MTLOjJU.jpg" alt="" srcset="https://framerusercontent.com/images/kVt9tVQT1IJd3L71uU8MTLOjJU.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/kVt9tVQT1IJd3L71uU8MTLOjJU.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/kVt9tVQT1IJd3L71uU8MTLOjJU.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/kVt9tVQT1IJd3L71uU8MTLOjJU.jpg 4000w" sizes="300px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
										</div>
									</div>
									<div class="framer-1btb5qo">
										<div class="framer-iutgry" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												객실 상세 보기
											</p>
										</div>
										<div class="framer-uvys5f" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												→
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-n1h72d"  >
									<a class="framer-1xcglj3" href="./roomdetail">
									<div class="framer-42zt7z" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
											예약하기
										</p>
									</div>
									</a>
								</div>
							</div>
						</div>
						<div class="framer-9zrz65"  >
							<div class="framer-17rri3i" >
								<div class="framer-10zeqpv">
								</div>
							</div>
							<div class="framer-pgv4vo">
								<div class="framer-177ngs9" >
									<div class="framer-77fkd7" >
										<div class="framer-1g74qnl" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:22px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												250,000원 ~
											</p>
										</div>
									</div>
									<div class="framer-105qae9" >
										<div class="framer-snnbde" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(102, 102, 255)" class="framer-text">
												기준2 / 최대 2
											</p>
										</div>
										<div class="framer-1tbwm2p" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:12px;--framer-text-alignment:center;--framer-text-color:rgb(119, 119, 119)" class="framer-text">
												1박 / VAT포함
											</p>
										</div>
									</div>
									<div class="framer-1718sby" >
										<div class="framer-y533ts" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:20px;--framer-text-alignment:center" class="framer-text">
												Semo Suite
											</p>
										</div>
									</div>
								</div>
								<div class="framer-lqi8yx" >
									<a class="framer-1g4minj"  href="./roomdetail">
									<div style="position:absolute;pointer-events:none;user-select:none;border-radius:inherit;top:0;right:0;bottom:0;left:0" data-framer-background-image-wrapper="true">
										<div style="display:contents;border-radius:inherit;pointer-events:none">
											<img src="https://framerusercontent.com/images/n425s7gPeSyKtd65nuAhdBGyIw.jpg" alt="" srcset="https://framerusercontent.com/images/n425s7gPeSyKtd65nuAhdBGyIw.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/n425s7gPeSyKtd65nuAhdBGyIw.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/n425s7gPeSyKtd65nuAhdBGyIw.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/n425s7gPeSyKtd65nuAhdBGyIw.jpg 3745w" sizes="300px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" loading="lazy">
										</div>
									</div>
									<div class="framer-2mjp3v">
										<div class="framer-12j8wl8" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-font-size:14px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												객실 상세 보기
											</p>
										</div>
										<div class="framer-uokw8b" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
											<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBNZWRpdW0=;--framer-font-family:'Noto Sans KR Medium', sans-serif;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
												→
											</p>
										</div>
									</div>
									</a>
								</div>
								<div class="framer-jd2kir">
									<a class="framer-1ry9dhh" href="./roomdetail">
									<div class="framer-kf8hgd" style="outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none" >
										<p style="--font-selector:Q1VTVE9NO05vdG8gU2FucyBLUiBCb2xk;--framer-font-family:'Noto Sans KR Bold', sans-serif;--framer-font-size:18px;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255)" class="framer-text">
											예약하기
										</p>
									</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="overlay">
		</div>
	</div>
</div>
<div id="svg-templates" style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0">
</div>




	</div>
	
	
</body>
</html>