<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
	<title>semo</title>
	<!-- server단에서 오는 값을 미리 js 변수로 할당 -->
	<script>
		let productId = [[${productId}]];
	</script>
	<link rel="stylesheet" href="/css/productInfo.css" />
	<script src="/js/common.js"></script>
	<script src="/js/reservation.js"></script>
</head>
<body>
	<div layout:fragment="content">

		<div id="main">

			<!-- date picker 관련 cdn -->
			<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
			<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

			<!-- 실제 모든 내용을 담는 틀-->
			<div style="width: 100%; padding-top: 77px;">

				<!-- 서브 nav 감싸는 div -->
				<div style="margin: 10px auto 5px; width: 1200px; text-align: center; ">
					<!-- 숙소소개, 예약하기, 오시는길, 문의하기 등 서브 nav -->
					<div style="height: 50px; width: 700px; font-size: 16px">
						<!-- 기본 칼라 연보라색 : rgba(102,102,255,255) -->
						<ul class="sub-nav-ul" style="padding: 0; display: flex; justify-content: normal; line-height: 50px; font-weight: bold; color: grey;">
							<li class="sub-nav-li"><a id="productInfoBtn">숙소 소개</a></li>
							<li class="sub-nav-li"><a id="reservationBtn" class="currentBtn">예약하기</a></li>
							<li class="sub-nav-li"><a id="locationBtn">오시는 길</a></li>
							<li class="sub-nav-li"><a id="qnaBtn">문의하기</a></li>
						</ul>
					</div>
				</div>

				<!-- 실제 예약 및 목록 관련 내용들 -->
				<div style="display: flex; justify-content: center; border-top: 1px solid rgb(235, 236, 237)" >

					<!-- left frame wrapper -->
					<div style="width: 400px; display: flex; flex-direction: column; justify-content: start; align-items: center">
						<div style="margin: 10px 0; padding: 10px 0; font-size: 20px; width: 350px; text-align: left; border-bottom: 1px solid rgb(235, 236, 237)">예약 정보</div>
						<!-- outer wrapper -->
						<div style="margin: 10px 0 0; width: 350px; height: 250px; border: 1px solid rgb(235, 236, 237); border-radius: 10px;">
							<form action="" method="post">
								<div style="margin: 10px 0 0 0; display: flex; justify-content: center;">
									<!-- date picker 실제 내용들 -->
									<div class="tui-datepicker-input tui-datetime-input tui-has-focus" style="margin: 10px 0 0; padding: 0; width: 150px; height: 50px; border: 1px solid rgb(235, 236, 237); border-radius: 10px 0 0 0; display: flex; flex-direction: column ;justify-content: center; font-size: 12px; text-align: center">
										<label for="startpicker-input"><div style="margin: 5px; cursor:pointer;">체크인</div></label>
										<input id="startpicker-input" type="text" aria-label="Date" style="padding: 0; text-align: center; font-size: 15px; font-weight: bold; cursor:pointer;">
										<div id="startpicker-container" style="margin-left: 0px;"></div>
									</div>
									<div class="tui-datepicker-input tui-datetime-input tui-has-focus"  style="margin: 10px 0 0; padding: 0; width: 150px; height: 50px; border: 1px solid rgb(235, 236, 237); border-left: none; border-radius: 0 10px 0 0; display: flex; flex-direction: column ;justify-content: center; font-size: 12px; text-align: center">
										<label for="endpicker-input"><div style="margin: 5px; cursor:pointer;">체크아웃</div></label>
										<input id="endpicker-input" type="text" aria-label="Date" style="padding: 0; text-align: center; font-size: 15px; font-weight: bold; cursor:pointer;">
										<div id="endpicker-container" style="margin-left: -127px;"></div>
									</div>
								</div>
								<div style="display: flex; justify-content: center;">
									<div style="display: flex; justify-content: center; width: 300px; height: 50px; border: 1px solid rgb(235, 236, 237); border-top: none; border-radius: 0 0 10px 10px; ">
										<div style="width: 260px; text-align: center; display: flex; flex-direction: column; justify-content: space-evenly;">
											<div style="margin-left: 10px; width: 100%; cursor:pointer; font-size: 12px; ">인원</div>
											<input id="personNumInput" style="margin-left: 10px; width: 100%; border: none; text-align: center; font-size: 15px; font-weight: bold; background: white" value="0" disabled>
										</div>
										<div style="display: flex; flex-direction: column; justify-content: center">
											<button type="button" id="personNumPlusBtn" style="margin: 0; padding: 0; width: 25px; height: 20px; border: 1px solid rgb(235, 236, 237); border-radius: 7px 7px 0 0; background: white; text-align: center; cursor: pointer">+</button>
											<button type="button" id="personNumMinusBtn" style="margin: 0; padding: 0; width: 25px; height: 20px; border: 1px solid rgb(235, 236, 237); border-radius: 0 0 7px 7px; background: white; text-align: center; cursor: pointer">-</button>
										</div>
									</div>
								</div>
								<div style="display: flex; justify-content: center; flex-direction: column; justify-content: center; align-items: center">
									<button type="submit" style="margin-top: 20px; width: 300px; height: 50px; border: none; border-radius: 10px; background: rgba(102,102,255,255); color: white; font-size: 18px; font-weight: bolder">객실 조회하기</button>
									<div style="margin-top: 20px; font-size: 12px">※ 7세 이하 어린이는 인원에 포함되지 않습니다.</div>
								</div>
							</form>
						</div>
					</div>

					<!-- product list wrapper  -->
					<div style="width: 800px; display: flex; flex-direction: column; justify-content: start; align-items: center">
						<div style="margin: 10px 0; padding: 10px 0; font-size: 20px; width: 700px; text-align: left; border-bottom: 1px solid rgb(235, 236, 237)">객실 목록</div>

						<!-- 실제 객실 목록 -->
						<div style="width: 700px; height: 650px; overflow: auto; border: 1px solid rgb(235, 236, 237); margin: 10px 0">

							<!-- 각 객실 목록 행 wrapper -->
							<div style="margin: 10px; display: flex; justify-content: space-between">
								<img style="width: 300px; height: 200px; border-radius: 10px;" src="" />
								<div style="width: 360px; display: flex; flex-direction: column; justify-content: center;">
									<h2 style="height: 40px; line-height: 40px;">Standard Twin</h2>
									<div style="height: 40px; display: flex; justify-content: space-between; line-height: 40px;">
										<span style="font-weight: bold; color: rgba(102,102,255,255);">기준2 / 최대2</span>
										<span>1박 / VAT포함</span>
									</div>
									<span style="margin-right: 10px; height: 60px; font-size: 18px; font-weight: bolder; text-align: right; line-height: 60px;">115,000원 ~</span>
									<input class="colorBtn" type="button" style="margin: 0 0 0 auto; width: 150px; height: 40px; text-align: center" value="예약하기">
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</body>
</html>