<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
<meta charset="utf-8">
<title>semo</title>

</head>
<body>
	<div layout:fragment="content">

<div id="main">
	<div class="framer-oNPpH framer-tXvOs" >
		<div class="framer-1v651yp"style="min-height:100%;width:auto">
		
		
		
			
			
			
			<div class="framer-taghmk" >
				<div class="framer-4ae293" style="top:590px;">
					<div class="framer-16mdt35" >
						<div class="framer-114xskt">
							<div class="framer-xu8957">
								<div class="framer-1db81w3" >
									<div class="framer-1qsovvq" id="rd_div3" >
										<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">숙소 정보</h3>
									</div>
								</div>
								<div class="framer-xcdtkd">
									<div class="framer-1abp7d" id="rd_div4" >
										<p id="rd_p1">
											최대 인원 <span id="rd_span1" class="framer-text">2명</span> 침실 <span id="rd_span1" class="framer-text">3개</span> 단독 사용 욕실<span id="rd_span1" class="framer-text"> 1개</span>
										</p>
									</div>
								</div>
							</div>
							<div class="framer-1nw5cbc" data-border="true">
								<div class="framer-1vwckqu" id="rd_div4" >
									<p id="rd_p2" class="framer-text">
										no Img
									</p>
								</div>
							</div>
						</div>
						<div class="framer-s892a4" >
							<div class="framer-158on9v">
							</div>
						</div>
						<div class="framer-1q4yjaa">
						</div>
						<div class="framer-qs1aal" >
							<div class="framer-191v0jb">
							</div>
						</div>
					</div>
					<div class="framer-pjzp1w" >
						<div class="framer-nhz03t" >
							<div class="framer-tm33n9" id="rd_div3" >
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">편의 시설</h3>
							</div>
						</div>
						<div class="framer-7pakbb">
						</div>
						<div class="framer-1awgeci" >
							<div class="framer-6zoer3">
							</div>
						</div>
					</div>
					<div class="framer-kdlbtv" >
						<div class="framer-115lhe8">
							<div class="framer-h0ngr" data-border="true">
								<div id="rd_div5" data-framer-background-image-wrapper="true">
									<div id="rd_div6">
										<img src="https://framerusercontent.com/images/RX83idu7G34fCWMI08xpuaWuX8M.jpg" alt="" srcset="https://framerusercontent.com/images/RX83idu7G34fCWMI08xpuaWuX8M.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/RX83idu7G34fCWMI08xpuaWuX8M.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/RX83idu7G34fCWMI08xpuaWuX8M.jpg 1114w" sizes="550px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto" loading="lazy">
									</div>
								</div>
							</div>
						</div>
						<div class="framer-14u5qv8" >
							<div class="framer-1pwi8x2" id="rd_div3" >
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">숙소 위치</h3>
							</div>
						</div>
					</div>
					<div class="framer-1n8dy48" data-framer-name="리뷰 게시판" name="리뷰 게시판">
						<div class="framer-1q6bdy5" >
							<div class="framer-1o5jtcb" id="rd_div3" >
								<h3 class="framer-text framer-styles-preset-1yghfzr" data-styles-preset="gLdVtPW0L">리뷰</h3>
							</div>
							<div class="framer-12f2adj" id="rd_div3" >
								<p id="rd_p3" class="framer-text">
									★ 4.5
								</p>
							</div>
						</div>
						<div class="framer-1aum8hh">
						</div>
						<div class="framer-yxt5ma" >
							<div class="framer-1siluxc">
							</div>
						</div>
					</div>
				</div>
				<div class="framer-hv4jvf" style="top:590px;">
					<div class="framer-fivjnk" >
						<div class="framer-18a2um0" data-border="true" >
							<div class="framer-1r088z7" >
								<div class="framer-c12ci4">
									<div class="framer-89lsbw" data-border="true">
										<div class="framer-1vmeaw7" data-border="true">
											<div class="framer-ejjhee">
												<div class="framer-1s1yksy" id="rd_div4" >
													<p id="rd_p4" class="framer-text">
														인원
													</p>
												</div>
											</div>
											<div class="framer-1gy5ctw">
												<div class="framer-1lxof9k" id="rd_div4" >
													<p id="rd_p5" class="framer-text">
														1 명
													</p>
												</div>
											</div>
											<div class="framer-1e4nfzi" data-border="true">
												<div class="framer-1ci5r4">
													<div class="framer-1n2fjnh" id="rd_div7" >
														<p id="rd_p6" class="framer-text">
															-
														</p>
													</div>
												</div>
												<div class="framer-1jx9hyc" data-border="true">
													<div class="framer-qebbez" id="rd_div4" >
														<p id="rd_p7" class="framer-text">
															+
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="framer-1580rac" data-border="true">
											<div class="framer-o91isw">
												<div class="framer-jx3wic" id="rd_div4" >
													<p id="rd_p4" class="framer-text">
														체크인
													</p>
												</div>
											</div>
											<div class="framer-2az2nw">
												<div class="framer-10exzc8" id="rd_div4" >
													<p id="rd_p5" class="framer-text">
														yyyy - dd - mm
													</p>
												</div>
											</div>
										</div>
										<div class="framer-v2ju5w">
											<div class="framer-8gm1mt">
												<div class="framer-1cgv37l" id="rd_div4" >
													<p id="rd_p4" class="framer-text">
														체크 아웃
													</p>
												</div>
											</div>
											<div class="framer-b8s8lm">
												<div class="framer-kbnkc0" id="rd_div4" >
													<p id="rd_p5" class="framer-text">
														yyyy - dd - mm
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="framer-mh5s0o">
									<div class="framer-1piudtg" data-framer-name="카트 이미지" name="카트 이미지">
										<div class="framer-vq419x" >
											<div id="rd_div5" data-framer-background-image-wrapper="true">
												<div id="rd_div6">
													<img src="https://framerusercontent.com/images/GXhyKW91EYrVHFGzEr5azo5adw.png" alt="" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
												</div>
											</div>
										</div>
									</div>
									<div class="framer-9mbws1" >
										<div class="framer-mie4un">
											<div class="framer-10cwzmy" id="rd_div4" >
												<p id="rd_p8" class="framer-text">
													₩ 115,000
												</p>
											</div>
											<div class="framer-11ag5zh" id="rd_div4" >
												<p id="rd_p8" class="framer-text">
													/
												</p>
											</div>
											<div class="framer-11g6je5" id="rd_div4" >
												<p id="rd_p8" class="framer-text">
													3
												</p>
											</div>
											<div class="framer-zdn0qf" id="rd_div4" >
												<p id="rd_p8" class="framer-text">
													박
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="framer-1161sj3">
									<a class="framer-115jair" href="/paycheck">
									<div class="framer-7mt0pe" id="rd_div4" >
										<p id="rd_p9" class="framer-text">
											객실 예약하기
										</p>
									</div>
									</a>
								</div>
								<div class="framer-cv6nap">
									<div class="framer-vs6wy2" id="rd_div4" >
										<p id="rd_p10" class="framer-text">
											예약 확정 전에는 요금이 청구되지 않습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="framer-reqxxo" style="top:80px;">
					<div class="framer-ditz45">
						<div class="framer-1f1he04">
							<div class="framer-16i0ubk" id="rd_div4" >
								<p id="rd_p11" class="framer-text">
									&lt; 대전광역시 유성구 농대로 17번길 21 &gt;
								</p>
							</div>
						</div>
						<div class="framer-qo799d">
							<div class="framer-1gcqk2s" id="rd_div4" >
								<p id="rd_p12" class="framer-text">
									Standard Twin
								</p>
							</div>
						</div>
					</div>
					<div class="framer-pbpe4d" data-border="true">
						<div class="framer-flpdog" data-border="true">
							<div id="rd_div5" data-framer-background-image-wrapper="true">
								<div id="rd_div6">
									<img src="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg" alt="" srcset="https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=512 512w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=1024 1024w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=2048 2048w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg?scale-down-to=4096 4096w, https://framerusercontent.com/images/tbE6e6Qu1vOvqgcvadZ6twvOw.jpg 6000w" sizes="720px" style="pointer-events:none;user-select:none;display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto">
								</div>
							</div>
						</div>
						<div class="framer-1nqsi0m">
							<div class="framer-1blrsu3" data-border="true">
								<div class="framer-eq4zxh" id="rd_div4" >
									<p id="rd_p13" class="framer-text">
										 No Image
									</p>
								</div>
							</div>
							<div class="framer-15lst99">
								<div class="framer-iepkqi" data-border="true">
									<div class="framer-112zqwg" id="rd_div4" >
										<p id="rd_p14" class="framer-text">
											 No Image
										</p>
									</div>
								</div>
								<div class="framer-uxds0e">
									<div class="framer-1snjwc0" id="rd_div4" >
										<p id="rd_p14" class="framer-text">
											 No Image
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
		
	</div>
</div>


	</div>
</body>
</html>