<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <typeAliases>
        <!--    alias는 대소문자 구분하지 않는다.    -->
        <typeAlias alias="member" type="com.selfdriven.semo.dto.Member"/>
        <typeAlias alias="product" type="com.selfdriven.semo.dto.Product"/>
        
    </typeAliases>


</configuration>