<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.repository.BookingMapper">

    <sql id="selectFromBooking">
        SELECT * FROM booking
    </sql>

    <insert id="addBooking" parameterType="Booking">
        INSERT INTO booking
            (member_id, reservation_id, room_id, start_at, end_at)
        VALUES
            ( #{memberId}, #{reservationId}, #{roomId}, #{startAt}, #{endAt})
    </insert>

    <select id="getBookingInfo" parameterType="Booking" resultType="Booking">
        <include refid="selectFromBooking"/>
        WHERE booking_id = #{bookingId} AND member_id = #{memberId}
    </select>

    <select id="getBookingList" parameterType="string" resultType="Booking">
        <include refid="selectFromBooking"/>
        WHERE member_id = #{memberId} ORDER BY start_at ASC
    </select>

<!--    <delete id="deleteBooking" parameterType="Booking">-->
    <delete id="deleteBooking" parameterType="int">
        DELETE FROM booking
--         WHERE booking_id = #{bookingId} AND member_id = #{memberId}
        WHERE booking_id = #{bookingId}
    </delete>

    <update id="updateBooking" parameterType="Booking">
        UPDATE booking SET
            reservation_id = #{reservationId}, room_id = #{roomId}
        <if test='startAt != null || startAt != "" '>
            , start_at = #{startAt}
        </if>
        <if test='endAt != null || endAt != "" '>
            , end_at = #{endAt}
        </if>
        WHERE booking_id = #{bookingId} AND member_id = #{memberId}
    </update>

    <delete id="deleteAllBooking">
        DELETE FROM booking
    </delete>

</mapper>