<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.repository.ProductMapper">

    <sql id="selectFromProduct">
        SELECT
            product_id, member_id, product_name, product_category, address, address_detail, zip_code, tel_num, ins_date, upd_date
        FROM
            product
    </sql>

    <select id="getProductById" resultType="Product">
        select * from product where product_id = #{productId}
    </select>

    <insert id="addProduct" parameterType="Product">
        INSERT INTO product
            (member_Id, product_name, product_category, address, address_detail, zip_code, tel_num)
        VALUES
            (#{memberId}, #{productName}, #{productCategory}, #{address}, #{addressDetail}, #{zipCode}, #{telNum})
    </insert>

    <select id="getProductList" resultType="Product">
        <include refid="selectFromProduct"/>
        ORDER by
            product_id asc
    </select>

    <update id="updateProduct" parameterType="Product">
        UPDATE product
        SET
            <if test='productName != null and productName != ""'>
                product_name = #{productName}
            </if>
            <if test='productCategory != null and productCategory != ""'>
                , product_category = #{productCategory}
            </if>
            <if test='address != null and address != ""'>
                , address = #{address}
            </if>
            <if test='addressDetail != null and addressDetail != ""'>
                , address_detail = #{addressDetail}
            </if>
            <if test='zipCode != null and zipCode != ""'>
                , zip_code = #{zipCode}
            </if>
            <if test='telNum != null and telNum != ""'>
                , tel_num = #{telNum}
            </if>
        WHERE product_id = #{productId}
    </update>
    
    <delete id="deleteProduct">
        DELETE FROM product WHERE product_id = #{productId}
    </delete>

    <select id="getProductByMemberId" parameterType="Map" resultType="Product">
        <include refid="selectFromProduct"/>
        WHERE product_id = #{productId} AND member_id = #{memberId}
    </select>

</mapper>