<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.mapper.ProductMapper">


    <insert id="addProduct" parameterType="Product">
        INSERT INTO product
            (member_Id, product_name, product_category, address, address_detail, zip_code, tel_num)
        VALUES
            (#{memberId}, #{productName}, #{productCategory}, #{address}, #{addressDetail}, #{zipCode}, #{telNum})
    </insert>
    <sql id="selectFromProduct">
        SELECT
            product_id, member_id, product_name, product_category, address, address_detail, zip_code, tel_num, ins_date, upd_date
        FROM
            product
    </sql>

    <select id="getProductList" resultType="Product">
        <include refid="selectFromProduct"/>
        ORDER by
            product_id asc
    </select>
    
    <select id="getProductById" resultType="Product" parameterType="String">
		select * from product where product_id = #{productId}
	</select>
    
<delete id="deleteProduct">
        DELETE FROM product WHERE product_id = #{productId}
    </delete>

  
</mapper>