<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.repository.ProductImageMapper">

<!--	<select id="getProductImageById" resultType="ProductImage" parameterType="String">-->
<!--		select * from product_image where product_id = #{productId}-->
<!--	</select>-->
    
    <insert id="insertProductImage" parameterType="ProductImage">
        INSERT INTO product_image
            (image_url, product_id)
        VALUES
            ( #{imageUrl}, #{productId})
    </insert>

<!--    <delete id="deleteProductImage" parameterType="String">-->
<!--       DELETE FROM product_image WHERE image_url = #{imageUrl}-->
<!--    </delete>-->

    <delete id="deleteProductImage" parameterType="String">
        DELETE FROM product_image WHERE image_url = #{imageUrl}
    </delete>

    <select id="getProductImageValidation" parameterType="ProductImage" resultType="int">
        SELECT COUNT(*) FROM product_image
            WHERE product_id = #{productId} AND image_url = #{imageUrl}
    </select>

    <select id="getAllImageUris" parameterType="int" resultType="String">
        SELECT image_url FROM product_image
            WHERE product_id = #{productId}
    </select>
   
</mapper>