<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.repository.ReservationMapper">

    <sql id="selectFromReservation">
        --         SELECT reservation_id, member_id, room_id, payment_term, total_price, duration,
--                DATE_FORMAT(start_at, '%Y-%m-%d') as start_at,
--                DATE_FORMAT(end_at, '%Y-%m-%d') as end_at,
--                status, ins_date, upd_date
        SELECT * FROM reservation
    </sql>

    <insert id="addReservation" parameterType="Reservation">
        INSERT INTO reservation
        (member_id, room_id, payment_term, total_price, duration, start_at, end_at)
        VALUES
            ( #{memberId}, #{roomId}, #{paymentTerm}, #{totalPrice}, #{duration}, #{startAt}, #{endAt})
    </insert>

    <select id="getReservationInfo" parameterType="Reservation" resultType="Reservation">
        <include refid="selectFromReservation"/>
        WHERE reservation_id = #{reservationId} AND member_id = #{memberId} ORDER BY start_at ASC
    </select>

    <select id="getReservationList" parameterType="string" resultType="Reservation">
        <include refid="selectFromReservation"/>
        WHERE member_id = #{memberId} ORDER BY start_at ASC
    </select>

    <delete id="deleteReservation" parameterType="Reservation">
        DELETE FROM reservation
        WHERE reservation_id = #{reservationId} AND member_id = #{memberId}
    </delete>

    <update id="updateReservation" parameterType="Reservation">
        UPDATE reservation SET
        <if test='totalPrice != null || totalPrice != "" '>
            room_id = #{roomId}
        </if>
        <if test='paymentTerm != null || paymentTerm != "" '>
            , payment_term = #{paymentTerm}
        </if>
        <if test='totalPrice != null || totalPrice != "" '>
            , total_price = #{totalPrice}
        </if>
        <if test='duration != null || duration != "" '>
            , duration = #{duration}
        </if>
        <if test='startAt != null || startAt != "" '>
            , start_at = #{startAt}
        </if>
        <if test='endAt != null || endAt != "" '>
            , end_at = #{endAt}
        </if>
        WHERE reservation_id = #{reservationId} AND member_id = #{memberId}
    </update>

    <delete id="deleteAllReservation">
        DELETE FROM reservation
    </delete>

    <select id="getInavailableDate" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM reservation
        WHERE room_id = #{roomId} AND start_at <![CDATA[<=]]> #{referenceDate}  AND end_at <![CDATA[>]]> #{referenceDate}
    </select>
</mapper>