<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.repository.RoomMapper">
    <sql id="selectFromRoom">
        SELECT
            *
        FROM
            room
    </sql>

    <select id="selectRoomById" resultType="Room">
        <include refid="selectFromRoom"/>
            WHERE
            room_id = #{roomId}
            ORDER by
            room_id asc
    </select>

    <select id="selectAllRoom" resultType="Room">
        <include refid="selectFromRoom" />
    </select>

    <select id="selectAllRoomByProductId" resultType="Room">
        <include refid="selectFromRoom" />
            WHERE product_id = #{productId}
    </select>

    <insert id="insertRoom" parameterType="Room">
        INSERT INTO room
            (product_id, room_name, room_type, room_description)
        VALUES
            (#{productId}, #{roomName}, #{roomType}, #{roomDescription})
    </insert>

    <update id="updateRoom" parameterType="Room">
        UPDATE room
        SET
            product_id = #{productId}
          , room_name = #{roomName}
          , room_type = #{roomType}
          , room_description = #{roomDescription}
        WHERE room_id = #{roomId}
    </update>

    <delete id="deleteRoom">
        DELETE FROM room WHERE room_id = #{roomId}
    </delete>

    <delete id="deleteAllMember">
        DELETE FROM room
    </delete>

    <select id="countAllRoom" resultType="int">
        SELECT count(*) FROM room
    </select>

<!--    <select id="selectRoomValidation" resultType="int">-->
<!--        SELECT COUNT(*) FROM room-->
<!--            WHERE room_id = #{roomId}-->
<!--    </select>-->

    <select id="selectRoomValidationNew" parameterType="Room" resultType="int">
        SELECT COUNT(*) FROM room
        WHERE product_id = #{productId} AND room_id = #{roomId}
    </select>

</mapper>
