<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selfdriven.semo.repository.RoomMapper">
    <sql id="selectFromRoom">
        SELECT
            *
        FROM
            room
    </sql>

    <insert id="addRoom" parameterType="Room">
        INSERT INTO room
            (product_id, room_name, room_type, room_description, room_week_price, room_weekend_price)
        VALUES
            (#{productId}, #{roomName}, #{roomType}, #{roomDescription}, #{roomWeekPrice}, #{roomWeekendPrice})
    </insert>

    <select id="getRoomById" parameterType="Map" resultType="Room">
        <include refid="selectFromRoom"/>
            WHERE product_id = #{productId} AND room_id = #{roomId}
            ORDER BY room_id asc
    </select>

    <select id="getAllRoom" resultType="Room">
        <include refid="selectFromRoom" />
            WHERE product_id = #{productId}
            ORDER BY room_id asc
    </select>

    <update id="updateRoom" parameterType="Room" >
        UPDATE room
        SET
            <if test='productId != null and productId != ""'>
                product_id = #{productId}
            </if>
            <if test='roomName != null and roomName != ""'>
                ,room_name = #{roomName}
            </if>
            <if test='roomType != null and roomType != ""'>
                ,room_type = #{roomType}
            </if>
            <if test='roomDescription != null and roomDescription != ""'>
                ,room_description = #{roomDescription}
            </if>
            <if test='roomWeekPrice != null and roomWeekPrice != ""'>
                ,room_week_price = #{roomWeekPrice}
            </if>
            <if test='roomWeekendPrice != null and roomWeekendPrice != ""'>
                ,room_weekend_price = #{roomWeekendPrice}
            </if>
        WHERE room_id = #{roomId}
    </update>

    <delete id="deleteRoom">
        DELETE FROM room WHERE room_id = #{roomId}
    </delete>

<!--    <select id="selectRoomValidation" resultType="int">-->
<!--        SELECT COUNT(*) FROM room-->
<!--            WHERE room_id = #{roomId}-->
<!--    </select>-->

    <select id="countValidRoom" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM room
            WHERE product_id = #{productId} AND room_id = #{roomId}
    </select>

    <select id="getProductId" resultType="int">
        SELECT product_id FROM room
            WHERE room_id = #{roomId}
    </select>

    <select id="getRoomPriceByDate" parameterType="Map" resultType="int">
        SELECT
            <choose>
                <when test='daySequence != 4 || daySequence != 5'>
                    room_week_price
                </when>
                <otherwise>
                    room_weekend_price
                </otherwise>
            </choose>
        FROM room WHERE room_id = #{roomId}
    </select>

</mapper>
